<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userLayout}">


<body class="productCont">
    <div layout:fragment="content" >
        <div class="productWrap">
            <ul class="productListBox">
                <li>
                    <a href="/product/detail">
                        <div class="imgBox">
                            <img src="https://picsum.photos/800/800"/>
                        </div>
                        <div class="txtBox">
                            <p class="tit">플로리드 레이어 블러셔 05호 드리밍</p>
                            <p class="priceBox">
                                <span class="percent">36%</span>
                                <span class="discount">31,900원</span>
                                <span class="price">50,000원</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/product/detail">
                        <div class="imgBox">
                            <img src="https://picsum.photos/800/800"/>
                        </div>
                        <div class="txtBox">
                            <p class="tit">아이원 더 퍼스트 트리플 민화 선물세트 180캡슐 (3개월분) 루테인 지아잔틴 오메가3 아스타잔틴</p>
                            <p class="priceBox">
                                <span class="percent">36%</span>
                                <span class="discount">31,900원</span>
                                <span class="price">50,000원</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/product/detail">
                        <div class="imgBox">
                            <img src="https://picsum.photos/800/800"/>
                        </div>
                        <div class="txtBox">
                            <p class="tit">플로리드 레이어 블러셔 05호 드리밍</p>
                            <p class="priceBox">
                                <span class="percent">36%</span>
                                <span class="discount">31,900원</span>
                                <span class="price">50,000원</span>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
