<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CoBuy</title>
    
    <!-- 공통 css 영역 -->
    <th:block th:replace="fragments/css :: css"></th:block>

    <!-- CSRF 토큰 메타 태그 -->
    <meta name="_csrf" th:content="${_csrf?.token}"/>
    <meta name="_csrf_header" th:content="${_csrf?.headerName}"/>
</head>
<body>

    <!-- 본문 영역 -->
    <div layout:fragment="content">
    </div>

    <!--스크립트-->
    <th:block th:replace="fragments/script :: script"></th:block>
    <th:block layout:fragment="script"></th:block>

</body>
</html>