<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userLayout}">
<head>
    <title>주문내역</title>
</head>
<body class="mypageCont">
<div layout:fragment="content">
    <div class="mypageWrap cartWrap orderWrap">
        <div class="mypageInner">
            <ul class="orderList">
                <li>
                    <div class="titleBox">
                        <p class="tit">2025.02.17 10:29</p>
                        <p class="info info01">주문완료</p>
                    </div>
                    <div class="prodInfo">
                        <a href="/product/detail"  class="prodImg">
                            <img src="https://picsum.photos/500/800"/>
                        </a>
                        <div class="txtBox">
                            <p class="tit">로우 플리츠 니트스커트</p>
                            <p class="option"><span>아이보리</span><span>FREE</span><span>1개</span></p>
                            <p class="price">45,000원</p>
                        </div>
                    </div>
                    <div class="prodInfo">
                        <a href="/product/detail"  class="prodImg">
                            <img src="https://picsum.photos/800/500"/>
                        </a>
                        <div class="txtBox">
                            <p class="tit">로우 플리츠 니트스커트</p>
                            <p class="option"><span>아이보리</span><span>FREE</span><span>1개</span></p>
                            <p class="price">45,000원</p>
                        </div>
                    </div>
                    <div class="prodInfo">
                        <a href="/product/detail"  class="prodImg">
                            <img src="https://picsum.photos/500/500"/>
                        </a>
                        <div class="txtBox">
                            <p class="tit">로우 플리츠 니트스커트</p>
                            <p class="option"><span>아이보리</span><span>FREE</span><span>1개</span></p>
                            <p class="price">45,000원</p>
                        </div>
                    </div>
                    <div class="totalInfo">
                        <a href="#" class="noneBtn btn">주문 취소</a>
                        <a href="/chat" class="btn">1:1문의</a>
                    </div>
                </li>
                <li>
                    <div class="titleBox">
                        <p class="tit">2025.02.17 10:29</p>
                        <p class="info info02">취소완료</p>
                    </div>
                    <div class="prodInfo">
                        <a href="/product/detail"  class="prodImg">
                            <img src="https://picsum.photos/700/800"/>
                        </a>
                        <div class="txtBox">
                            <p class="tit">로우 플리츠 니트스커트</p>
                            <p class="option"><span>아이보리</span><span>FREE</span><span>1개</span></p>
                            <p class="price">45,000원</p>
                        </div>
                    </div>
                    <div class="prodInfo">
                        <a href="/product/detail"  class="prodImg">
                            <img src="https://picsum.photos/800/700"/>
                        </a>
                        <div class="txtBox">
                            <p class="tit">로우 플리츠 니트스커트</p>
                            <p class="option"><span>아이보리</span><span>FREE</span><span>1개</span></p>
                            <p class="price">45,000원</p>
                        </div>
                    </div>
                    <div class="totalInfo">
                        <a href="/chat" class="btn">1:1문의</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>