<!DOCTYPE html>
<html
    layout:decorate="~{layouts/userLoginLayout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>아이디·비밀번호 찾기</title>
</head>
<body class="memberBody">
<div layout:fragment="content">
    <div class="memberWrap findWrap">
        <div class="memberInner">
            <p class="title">아이디 · 비밀번호 찾기</p>

            <div class="findIdWrap">
                    <div class="findUser">

                    </div>
                    <div class="noneFind">
                        <p class="txt">고객님 명의로 찾은 아이디가 없습니다.</p>
                        <div class="btnWrap">

                        </div>
                    </div>
                    <div class="btnWrap">
                        <button type="submit" class="findIdBtn btn">아이디 찾기</button>
                    </div>
                </form>

            </div>


        </div>
    </div>
</div>
</body>
</html>