<!DOCTYPE html>
<html
    layout:decorate="~{layouts/userLoginLayout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>아이디·비밀번호 찾기</title>
</head>
<body class="memberBody">
<div layout:fragment="content">
    <div class="memberWrap findWrap">
        <div class="memberInner">
            <p class="title">비밀번호 재설정</p>
            <form action="/updatePw" class="findPwForm">
                <ul class="findPwInput">
                    <li>
                        <p class="tit">새 비밀번호</p>
                        <input type="password" placeholder="비밀번호를 입력해주세요.">
                    </li>
                    <li>
                        <p class="tit">비밀번호 확인</p>
                        <input type="password" placeholder="비밀번호 다시 한번 입력해주세요.">
                    </li>
                </ul>
                <div class="btnWrap">
                    <button class="findPwBtn btn" type="submit">비밀번호 변경</button>
                </div>
            </form>


        </div>
    </div>
</div>
</body>
</html>