<!DOCTYPE html>
<html
    layout:decorate="~{layouts/userLoginLayout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>아이디·비밀번호 찾기</title>
</head>
<body class="memberBody">
<div layout:fragment="content">
    <div class="memberWrap findWrap">
        <div class="memberInner">
            <p class="title">아이디 · 비밀번호 찾기</p>
            <ul class="tabWrap">
                <li><a class="active" href="#tab01">아이디 찾기</a></li>
                <li><a href="#tab02">비밀번호 찾기</a></li>
            </ul>

            <div class="tabCont active" id="tab01">
                <form class="findIdForm">
                    <ul class="findIdInput">
                        <li>
                            <label for="email">
                                <input id="email" name="findId" type="radio">
                                <span class="tit">이메일로 찾기</span>
                            </label>
                            <input class="email" placeholder="이메일을 입력해주세요." type="text">
                        </li>
                        <li>
                            <label for="phone">
                                <input id="phone" name="findId" type="radio">
                                <span class="tit">휴대폰 번호으로 찾기</span>
                            </label>
                            <input class="phone" placeholder="휴대폰 번호를 입력해주세요." type="text">
                        </li>
                    </ul>
                    <div class="btnWrap">
                        <button type="submit" class="findIdBtn">아이디 찾기</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
</body>
</html>