<!DOCTYPE html>
<html
    layout:decorate="~{layouts/userLoginLayout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <title>아이디·비밀번호 찾기</title>
</head>
<body class="memberBody">
<div layout:fragment="content">
    <div class="memberWrap findWrap">
        <div class="memberInner">

            <div class="findIdWrap">

                <div class="noneFind" th:if="${error != null}">
                    <p class="txt">고객님 명의로 찾은 아이디가 없습니다.</p>
                    <div class="btnWrap">
                        <a href="javascript:history.back()" class="findIdBtn btn">아이디 찾기</a>
                        <a href="/login" class="loginBtn btn">로그인</a>
                    </div>
                </div>
                <div class="findAdmin" th:if="${adminId != null}">
                    <p class="txt">고객님의 아이디는 <span class="adminId" th:text="${adminId}">ㅇ</span>입니다.</p>
                    <div class="btnWrap">
                        <!--비밀번호 찾기 이동 시, 이전 탭 눌렀던 값(기업/셀러/회원)에 따른 페이지 이동 -->
                        <a href="/admin/find" class="findIdBtn btn">비밀번호 찾기</a>
                        <a href="/login" class="loginBtn btn">로그인</a>
                    </div>
                </div>
                <div class="findUser" th:if="${userId != null}">
                    <p class="txt">고객님의 아이디는 <span class="userId" th:text="${userId}">ㅇ</span>입니다.</p>
                    <div class="btnWrap">
                        <!--비밀번호 찾기 이동 시, 이전 탭 눌렀던 값(기업/셀러/회원)에 따른 페이지 이동 -->
                        <a href="/find" class="findIdBtn btn">비밀번호 찾기</a>
                        <a href="/login" class="loginBtn btn">로그인</a>
                    </div>
                </div>
                <div class="findSeller" th:if="${sellerId != null}">
                    <p class="txt">고객님의 아이디는 <span class="sellerId" th:text="${sellerId}">ㅇ</span>입니다.</p>
                    <div class="btnWrap">
                        <!--비밀번호 찾기 이동 시, 이전 탭 눌렀던 값(기업/셀러/회원)에 따른 페이지 이동 -->
                        <a href="/seller/find" class="findIdBtn btn">비밀번호 찾기</a>
                        <a href="/login" class="loginBtn btn">로그인</a>
                    </div>
                </div>
                

            </div>


        </div>
    </div>
</div>
</body>
</html>