<!DOCTYPE html>
<html
    layout:decorate="~{layouts/userLoginLayout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>회원가입</title>
</head>
<body class="memberBody">
<div layout:fragment="content">
    <div class="memberWrap joinWrap">
        <div class="memberInner">
            <p class="title">회원가입</p>
            <p class="txt">회원가입 유형을 선택해주세요.</p>
            <ul class="selectJoin">
                <li><a href="/admin/join"> 쇼핑몰 회원가입</a></li>
                <li><a href="/seller/join">셀러 회원가입</a></li>
                <li><a href="/member/join">개인 회원가입</a></li>
                <li><a href="/login">로그인</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>