<!DOCTYPE html>
<html
    layout:decorate="~{layouts/userLoginLayout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>아이디·비밀번호 찾기</title>
</head>
<body class="memberBody">
<div layout:fragment="content">
    <div class="memberWrap findWrap">
        <div class="memberInner">
            <div class="updatePwWrap">
                <p class="tit">비밀번호 변경 완료</p>
                <p class="txt">
                    비밀번호 변경이 완료되었습니다.<br>
                    새로운 비밀번호로 로그인해주세요.
                </p>

                <div class="btnWrap">
                    <a href="/login" class="loginBtn btn">로그인</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>