<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="adminCss">
    <meta charset="UTF-8">
    <!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->

    <!--폰트 cdn-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>

    <!--swiper-->
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" th:href="@{/css/common.css}">
<!--    <link rel="stylesheet" th:href="@{/css/member.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/product.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/mypage.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/chat.css}">-->
    <link rel="stylesheet" th:href="@{/css/admin/templates.css}">
    <link rel="stylesheet" th:href="@{/css/admin/layout.css}">
    <link rel="stylesheet" th:href="@{/css/admin/manage.css}">
    <link rel="stylesheet" th:href="@{/css/admin/product.css}">
    <link rel="stylesheet" th:href="@{/css/admin/modal.css}">
    <link rel="stylesheet" th:href="@{/css/admin/order.css}">
    <link rel="stylesheet" th:href="@{/css/admin/setting.css}">
</head>