<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="header">
        <header class="headerWrap">
            <div class="headerInner">
                <a href="/product" class="homeBtn"><img th:src="@{images/homeIcon.png}" alt="홈으로 이동"></a>
                <p class="title">상품 목록</p>
                <ul class="rightIcon">
                    <li><a href="/mypage"><img th:src="@{images/mypageIcon.png}" alt="마이페이지"></a></li>
                    <li><a href="/mypage/cart"><img th:src="@{images/cartIcon.png}" alt="장바구니"> <span class="count cartCnt">0</span></a></li>
                    <li><a href="#"><img th:src="@{images/alarmIcon.png}" alt="알림"><span class="count alarmCnt">2</span></a></li>
                </ul>
            </div>
        </header>
    </div>
</body>
</html>