<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="matchModal">
    <!--쇼핑몰 매칭 모달-->
    <div class="modal matchModal matchAdminModal infoModal">
        <div class="modalInner">
            <div class="modalTitle">
                <p class="tit">인플루언서 매칭</p>
                <a href="javascript:void(0)" class="closeBtn">닫기</a>
            </div>
            <div class="modalCont">
                <div class="titWrap">
                    <p class="tit"></p>
                    <ul class="category"></ul>
                </div>
                <p class="infoBox"></p>
                <a href="#" target="_blank" class="snsLink"></a>
            </div>
            <div class="modalBtn">
                <a href="javascript:void(0)" class="rematchBtn lineBtn">다시 매칭하기</a>
                <a href="javascript:void(0)" class="requestMatchBtn lineBtn">협업 요청하기</a>
                <a href="javascript:void(0)" class="closeBtn btn">닫기</a>
            </div>
        </div>
        <div class="bgB"></div>
    </div>

    <!--인플루언서 매칭 모달-->
    <div class="modal matchModal matchSellerModal infoModal">
        <div class="modalInner">
            <div class="modalTitle">
                <p class="tit">쇼핑몰 매칭</p>
                <a href="javascript:void(0)" class="closeBtn">닫기</a>
            </div>
            <div class="modalCont">
                <div class="titWrap">
                    <p class="tit"></p>
                    <ul class="category"></ul>
                </div>
                <p class="infoBox"></p>
                <a href="#" target="_blank" class="snsLink"></a>
            </div>
            <div class="modalBtn">
                <a href="javascript:void(0)" class="rematchBtn lineBtn">다시 매칭하기</a>
                <a href="javascript:void(0)" class="requestMatchBtn lineBtn">협업 요청하기</a>
                <a href="javascript:void(0)" class="closeBtn btn">닫기</a>
            </div>
        </div>
        <div class="bgB"></div>
    </div>
</div>
</body>
</html>