<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="matchModal">
    <div class="modal matchAdminModal infoModal">
        <div class="modalInner">
            <div class="modalTitle">
                <p class="tit">자동매칭</p>
                <a href="javascript:void(0)" class="closeBtn">닫기</a>
            </div>
            <div class="modalCont">
                <div class="titWrap">
                    <p class="tit">쇼핑몰명</p>
                    <ul class="category">
                        <li>패션의류</li>
                        <li>화장품/미용</li>
                    </ul>
                </div>
                <p class="infoBox">안녕하세요.
                    여기에 소개글이 들어갑니다.
                    여기에 소개글이 들어갑니다.
                    여기에 소개글이 들어갑니다.여기에 소개글이 들어갑니다.여기에 소개글이 들어갑니다.여기에 소개글이 들어갑니다.
                </p>
                <a href="http://localhost:8080/admin/profile" target="_blank" class="snsLink">http://localhost:8080/admin/profile</a>
            </div>
            <div class="modalBtn">
                <a href="javascript:void(0)" class="addSeller lineBtn">다시 매칭하기</a>
                <a href="javascript:void(0)" class="addSeller lineBtn">쇼핑몰 추가</a>
                <a href="javascript:void(0)" class="closeBtn btn">닫기</a>
            </div>
        </div>
        <div class="bgB"></div>
    </div>

    <div class="modal matchSellerModal infoModal">
        <div class="modalInner">
            <div class="modalTitle">
                <p class="tit">자동매칭</p>
                <a href="javascript:void(0)" class="closeBtn">닫기</a>
            </div>
            <div class="modalCont">
                <div class="titWrap">
                    <p class="tit">인플루언서 활동명</p>
                    <ul class="category">
                        <li>패션의류</li>
                        <li>화장품/미용</li>
                    </ul>
                </div>
                <p class="infoBox">안녕하세요.
                    여기에 소개글이 들어갑니다.
                    여기에 소개글이 들어갑니다.
                    여기에 소개글이 들어갑니다.여기에 소개글이 들어갑니다.여기에 소개글이 들어갑니다.여기에 소개글이 들어갑니다.
                </p>
                <a href="http://localhost:8080/admin/profile" target="_blank" class="snsLink">http://localhost:8080/admin/profile</a>
            </div>
            <div class="modalBtn">
                <a href="javascript:void(0)" class="addSeller lineBtn">다시 매칭하기</a>
                <a href="javascript:void(0)" class="addSeller lineBtn">인플루언서 추가</a>
                <a href="javascript:void(0)" class="closeBtn btn">닫기</a>
            </div>
        </div>
        <div class="bgB"></div>
    </div>
</div>
</body>
</html>