<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="orderDetailModal">
  <!--주문 내역 확인-->
  <div class="modal orderDetailModal">
    <div class="modalInner">
      <div class="modalTitle">
        <p class="tit">주문내역확인</p>
        <a href="javascript:void(0)" class="closeBtn">닫기</a>
      </div>
      <div class="modalCont">



      </div>
      <div class="modalBtn">
        <a href="javascript:void(0)" class="sendMsg lineBtn">메세지 보내기</a>
        <a href="javascript:void(0)" class="closeBtn btn">닫기</a>
      </div>
    </div>
    <div class="bgB"></div>
  </div>

</div>
</body>
</html>