<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="rankModal">
    <!--내 순위 보기-->
    <div class="modal rankModal">
        <div class="modalInner">
            <div class="modalTitle">
                <p class="tit">내 순위 보기</p>
                <a class="closeBtn" href="javascript:void(0)">닫기</a>
            </div>
            <div class="modalCont">
                <ul class="rankList">
                    <li>
                        <p class="tit">전체</p>
                        <p class="txt">202위</p>
                    </li>
                   <li>
                       <p class="tit">패션의류</p>
                       <p class="txt">12위</p>
                   </li>
                    <li>
                        <p class="tit">패션잡화</p>
                        <p class="txt">30위</p>
                    </li>


                </ul>
            </div>

        </div>
        <div class="bgB"></div>
    </div>

</div>
</body>
</html>