<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="requestModal">
    <div class="modal requestModal">
        <div class="modalInner">
            <div class="modalTitle">
                <p class="tit">요청 상태 확인</p>
                <a href="javascript:void(0)" class="closeBtn">닫기</a>
            </div>
            <div class="modalCont">
                <div class="tableWrap">
                    <table>
                        <colgroup>
                            <col style="width:220px">
                            <col style="width:100%">
                            <col style="width:100px">
                        </colgroup>
                        <thead>
                        <tr>
                            <th class="partnerName"><!-- 동적으로 변경될 부분 --></th>
                            <th class="url"><!-- 동적으로 변경될 부분 --></th>
                            <th class="status">상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 데이터가 동적으로 삽입될 위치 -->
                        <tr>
                            <td colspan="4"><p class="none">요청 내역이 없습니다.</p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!--페이징-->
                <ul class="pagination">
                    <li class="page-item page-arrow page-prev">
                        <a class="page-link" href="javascript:void(0)" onclick="changePage(currentPage - 1)">이전 페이지</a>
                    </li>
                    <li class="page-item page-num">
                        <!-- 페이지 번호가 동적으로 삽입될 위치 -->
                    </li>
                    <li class="page-item page-arrow page-next">
                        <a class="page-link" href="javascript:void(0)" onclick="changePage(currentPage + 1)">다음 페이지</a>
                    </li>
                </ul>
            </div>
            <div class="modalBtn">
                <a href="javascript:void(0)" class="closeBtn btn">닫기</a>
            </div>
        </div>
        <div class="bgB"></div>
    </div>

    <!-- CSRF 토큰을 hidden input으로 추가 -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrf-token"/>
    <input type="hidden" name="_csrf_header" th:value="${_csrf.headerName}" id="csrf-header"/>

    <!-- 현재 로그인한 사용자 정보를 hidden input으로 저장 -->
    <input type="hidden" id="currentUserId"
           th:with="principal=${#authentication.principal}"
           th:value="${principal.username}">
    <input type="hidden" id="currentUserRole"
           th:with="principal=${#authentication.principal}"
           th:value="${principal.role}">
</div>


</body>
</html>