/*회원정보수정 profile.html*/
.adminWrap table td input{width:100%;}
.adminWrap table td .txtBox{display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; flex-direction: column;}
.adminWrap table td .error{font-size:14px; color:var(--red-color); margin:5px 0;}
.adminProfileWrap table td .txtBox .phoneBox{width:100%; display: flex; justify-content: flex-start; align-items: center;}
.adminProfileWrap table td .txtBox select{height:45px; border-radius: 5px; border:1px solid var(--gray-color); outline: none; padding: 0 10px; width: 30%; font-size:15px; max-width: 200px; cursor: pointer;}

.adminProfileWrap table td .txtBox .phoneBox input{width:30%;  max-width: 180px;}
.adminProfileWrap table td .txtBox .phoneBox span{padding:0 5px; font-size:15px;}
.adminProfileWrap table td input[type = "date"]{width:100%; max-width: 400px; border:1px solid var(--gray-color);border-radius: 5px; height:45px; padding: 0 10px; color:var(--text-color); font-size:15px;}
.adminProfileWrap table td .txtBox .addressBox{width:100%;}
.adminProfileWrap table td .txtBox .addressBox .txt{display: flex; justify-content: space-between; align-items: center;}
.adminProfileWrap table td .txtBox .addressBox .txt input{width:200px;}
.adminProfileWrap table td .txtBox .addressBox .txt a{width:200px; display: flex; justify-content: center; align-items: center; background:var(--bk-color); color:var(--white-color); font-size:15px; font-weight:700; height:45px; border-radius: 5px;}
.adminProfileWrap table td .txtBox .addressBox input:first-child{width:calc(100% - 210px);}

.adminProfileWrap table td .txtBox .addressBox > input{margin:5px 0;}

.adminProfileWrap .btnWrap{display: flex; justify-content: flex-end; align-items: center;}
.adminProfileWrap .btnWrap button{width:200px; height:50px; border-radius: 5px; background:var(--bk-color); color:var(--white-color); font-weight:700; font-size:15px; outline: none; border:none; margin-top:40px; cursor: pointer;}

.adminWrap table tr th .tit{display: flex; justify-content: center; align-items: center; color:var(--bk-color);font-size:15px; position:relative;}
.adminWrap table tr th .tit .infoBtn{font-size:0; display: flex; justify-content: center; align-items: center; width:15px; height:15px; background:url("/images/infoIcon.png")no-repeat center; background-size:100%; margin-left:4px; margin-top:-1px;}
.adminWrap table tr th .tit .infoBox{display:none; position:absolute; top:22px; left:0; z-index: 999; padding:10px; border:1px solid var(--gray-color); background:var(--white-color); box-shadow: var(--box-shadow); border-radius: 5px; width:100%; font-weight:400; font-size:13px; line-height:1.3; word-break: break-all; text-align: left;}
.adminWrap table tr th .tit .infoBtn:hover .infoBox{display: block;}
.adminWrap table td .category{display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap; margin-top:10px;}
.adminWrap table td .category li{display: flex; justify-content: flex-start; align-items: center; width:220px; margin-bottom:10px;}
.adminWrap table td .category li input{width:15px; height:15px; border:1px solid var(--gray-color);}
.adminWrap table td .category li label{margin-left:5px; margin-top:1px; font-size:15px;}














