.modal{position: fixed; top:0; left:0; right:0; bottom:0; z-index: 999999999;}
.modal{display: none;}
.modal .bgB{background:var(--bg-opacity); width:100%; height:100%;}
.modal .modalInner{position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); background:var(--white-color); border-radius: 20px; overflow: hidden; width:480px;}
.modal .modalInner .modalTitle{display: flex; justify-content: space-between; align-items: center; padding:0 20px; height:55px; border-bottom:1px solid var(--gray-color);}
.modal .modalInner .modalTitle .tit{color:var(--bk-color); font-size:18px; font-weight:700;}
.modal .modalInner .modalTitle .closeBtn{display: block; font-size:0; width:40px; height:100%; position:relative; background:url("/images/closeBtn.png")no-repeat right center; background-size:24px;}

.infoModal .modalInner .modalCont{padding:20px; max-height:300px; overflow-y: auto;}
.infoModal .modalInner .modalCont .titWrap{display: flex; flex-direction: column;}
.infoModal .modalInner .modalCont .titWrap .tit{color:var(--bk-color); font-size:17px; font-weight:700;}
.infoModal .modalInner .modalCont .category{display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap;}
.infoModal .modalInner .modalCont .category li{color:var(--small-color); font-size:14px; margin-top:2px; }
.infoModal .modalInner .modalCont .category li:after{content:''; display: inline-block; width:1px; height:10px; background:var(--gray-color); margin:0 8px;}
.infoModal .modalInner .modalCont .category li:last-child:after{display: none;}

.infoModal .modalInner .modalCont .snsLink{display: inline-block; margin-top:10px; font-size:14px; color:var(--small-color);}
.infoModal .modalInner .modalCont .snsLink:hover{color:var(--bk-color);}
.infoModal .modalInner .modalCont .infoBox{padding:20px; background:var(--gray-bg1); border-radius: 10px; white-space: pre-line; font-size:14px; margin-top:10px; line-height: 1.2;}

.modal .modalInner .modalBtn{border-top:1px solid var(--gray-color); padding:10px 20px; display: flex; justify-content:space-between; align-items: center;}
.modal .modalInner .modalBtn{border-top:1px solid var(--gray-color); padding:10px 20px; display: flex; justify-content:space-between; align-items: center;}
.modal .modalInner .modalBtn a{display: flex; justify-content: center; align-items: center; border-radius: 5px; height:45px; font-size:15px; font-weight:600;}
.infoSellerModal .modalInner .modalBtn a{width:calc(50% - 5px);}
.infoAdminModal .modalInner .modalBtn a{width:calc(50% - 5px);}
.modal .modalInner .modalBtn .lineBtn{margin-right:10px; background:var(--gray-bg1); border:1px solid var(--gray-color); color:var(--bk-color);}
.modal .modalInner .modalBtn .lineBtn:hover{background: var(--bk-color); color:var(--white-color); border-color:var(--white-color);}
.modal .modalInner .modalBtn .closeBtn{background: var(--bk-color); color:var(--white-color);}

/*자동매칭 모달*/
.matchModal .matchList > li{border-bottom:1px solid var(--gray-color); }
.matchModal .matchList > li:last-child{border-bottom:none;}
.matchModal .matchList > li .list{display: flex; justify-content: space-between; align-items: center; padding:10px 20px; cursor: pointer}
.matchModal .matchList > li .list .titBox{display: flex; flex-direction: column; width:calc(100% - 30px);}
.matchModal .matchList > li .list .titBox .tit{color:var(--bk-color); font-size:16px; font-weight:700;}
.matchModal .matchList > li .list .titBox .category{display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap;}
.matchModal .matchList > li .list .titBox .category li{color:var(--small-color); font-size:14px; margin-top:2px; }
.matchModal .matchList > li .list .titBox .category li:after{content:''; display: inline-block; width:1px; height:10px; background:var(--gray-color); margin:0 8px;}
.matchModal .matchList > li .list .titBox .category li:last-child:after{display: none;}
.matchModal .matchList > li .list .toggleBtn{display: flex;justify-content: center; align-items: center; width:20px; height:20px; border-radius: 50%; border:1px solid var(--gray-color); font-size:0; background:url("/images/sortIcon.png")no-repeat center; background-size:12px;}
.matchModal .matchList > li.active .list .toggleBtn{transform: rotate(180deg);}
.matchModal .matchList > li .infoBox{background:var(--gray-bg1); border-top:1px solid var(--gray-color); font-size:14px; padding:15px 20px;}

.matchModal .matchList > li .infoBox .info{white-space: pre-line;}
.matchModal .matchList > li .infoBox .snsLink{display: block; margin-top:10px;}
.matchModal .matchList > li .infoBox .snsLink:hover{color:var(--bk-color);}

.matchModal .modalInner .modalCont .none{text-align:center; font-size:14px; color:var(--small-color);}

.matchModal .modalInner .modalCont .none{text-align:center; font-size:14px; color:var(--small-color);}

.matchAdminModal .modalBtn a {width:calc(33.33% - 6.666px);}
.matchSellerModal .modalBtn a {width:calc(33.33% - 6.666px);}



/*쇼핑몰 추가*/
.modal.addModal .modalInner{width:620px;}
.addModal .modalBtn a{width:calc(50% - 5px);}
.addModal .modalCont{padding:20px;}
.modal .modalCont .searchWrap{width:100%;padding:15px; background:var(--gray-bg1);}
.modal .modalCont .searchWrap form{display: flex; justify-content: space-between; align-items: center;}
.modal .modalCont .searchWrap select{width:120px; height:45px; border:1px solid var(--gray-color); border-radius: 5px; outline: none; cursor: pointer; padding:0 10px; margin-right:10px;}
.modal .modalCont .searchWrap .searchBox{position:relative; width:calc(100% - 130px)}
.modal .modalCont .searchWrap .searchBox input{width:100%; background:var(--white-color); height:45px; border-radius: 5px; padding-right:45px;}
.modal .modalCont .searchWrap .searchBox button{position:absolute; top:50%; right:0; transform: translateY(-50%); height:100%; border:0; outline: none; width:45px; font-size:0; background:url("/images/searchIcon.png")no-repeat center; background-size:25px; cursor: pointer;}


.addModal .tableWrap{position:relative; max-height:260px; overflow-y: auto; margin-top:10px;}
.addModal .tableWrap table thead{position:sticky; top:0; left:0; }
.addModal .tableWrap table tr th{padding:10px;}
.addModal .tableWrap table tr td{padding:10px;}
.addModal .tableWrap table tr td input{cursor: pointer;}

.addModal .tableWrap table tr .chkBox{display: flex; justify-content: center; align-items: center;}
.addModal .tableWrap table tr .chkBox input[type="checkbox"]{width:15px; height:15px;cursor: pointer; border-radius: 2px;}
.addModal .tableWrap table tr td .info {display: flex; flex-direction: column; align-items: flex-start;}
.addModal .tableWrap table tr td .info .name{color:var(--bk-color); font-weight:600; font-size:15px;}
.addModal .tableWrap table tr td .info .category{display: flex; justify-content: flex-start; align-items: flex-start; margin-top:2px; flex-wrap:wrap;}
.addModal .tableWrap table tr td .info .category li{font-size:13px; color:var(--small-color);}
.addModal .tableWrap table tr td .info .category li:after{content:'';display: inline-block; width:1px; height:10px; background:var(--gray-color); margin:0 5px;}
.addModal .tableWrap table tr td .info .category li:last-child:after{display: none;}
.addModal .tableWrap table tr td .url{font-size:14px; word-break: break-all}
.addModal .tableWrap table tr td .url:hover{color:var(--bk-color);}

.addModal .noneTableWrap{display: none;}
.addModal .tableWrap table tr td .none{font-size:14px; color:var(--small-color);}


/*주문내역확인 모달*/
.modal.orderDetailModal .modalInner{width:620px;}
.orderDetailModal .modalCont{padding:20px;}
.orderDetailModal .modalBtn a{width:calc(50% - 5px);}

.orderDetailModal .tableWrap table tr td{padding:10px 8px;}

.orderDetailModal .modalTitle .tit{display: flex; justify-content: flex-start; align-items: flex-end;}
.orderDetailModal  .modalTitle .tit span{display: inline-block; color:var(--bk-color); margin-right:5px;}


.orderDetailModal .tableWrap{max-height:220px; overflow-y: auto; margin-top:10px; position:relative;}
.orderDetailModal .tableWrap table thead{position:sticky; top:0;left:0;}
.orderDetailModal .tableWrap .prodInfo{display: flex; justify-content: flex-start; align-items: flex-start}
.orderDetailModal .tableWrap .prodInfo .imgBox{width:60px; height:60px;}
.orderDetailModal .tableWrap .prodInfo .imgBox img{width:100%; height:100%; border:1px solid var(--gray-color); border-radius: 5px; object-fit: cover;}

.orderDetailModal .tableWrap .prodInfo .info{display: flex; flex-direction: column; align-items: flex-start; width:calc(100% - 65px); margin-left:5px;}
.orderDetailModal .tableWrap .prodInfo .info .tit{color:var(--bk-color); font-weight:600; text-align: left;}
.orderDetailModal  .tableWrap .prodInfo .info .option{display:flex; justify-content: flex-start; align-items: center; flex-wrap: wrap; margin-top:2px;}
.orderDetailModal .tableWrap .prodInfo .info .option li{font-size:13px; color:var(--small-color);}
.orderDetailModal .tableWrap .prodInfo .info .option li:after{content:''; display: inline-block; width:1px; height:9px; background:var(--gray-color); margin:0 5px;}
.orderDetailModal .tableWrap .prodInfo .info .option li:last-child:after{display: none;}

.orderDetailModal .tableWrap .prodInfo .info .price{color:var(--bk-color); font-size:14px; font-weight:600; margin-top:8px;}

.orderDetailModal .tableWrap .status{display: inline-block; padding:4px 8px;border-radius: 5px; color:var(--white-color);font-weight:500; background:var(--bk-color); font-size:14px;}
.orderDetailModal .tableWrap .status01{background:var(--green-color);}
.orderDetailModal .tableWrap .status02{background:var(--red-color);}

.orderDetailModal .pagination{margin-top:20px;}

/*순위 모달*/
.rankModal .modalCont{padding:20px;}
.rankModal .modalCont .rankList li{display: flex; justify-content: space-between; align-items: center; margin-bottom:15px; padding-bottom:15px; border-bottom:1px dashed var(--gray-color);}
.rankModal .modalCont .rankList li:last-child{margin-bottom:0; padding-bottom:0 ;border-bottom:none;}
.rankModal .modalCont .rankList li p{color:var(--bk-color); font-size:15px; font-weight:700;}


/*협업 요청 확인 모달*/

.modal.requestModal .modalInner{width:620px;}
.requestModal .modalCont{padding:20px;}
.requestModal .tableWrap{position:relative; max-height:260px; overflow-y: auto;}
.requestModal .tableWrap table thead{position:sticky; top:0; left:0;}
.requestModal .tableWrap table tr td{padding:10px;}
.requestModal .tableWrap table tr td input{cursor: pointer;}
.requestModal .tableWrap table tr td .info{display: flex; flex-direction: column; align-items: flex-start;}
.requestModal .tableWrap table tr td .info .name{color:var(--bk-color); font-weight:600; font-size:15px; text-align: left;}
.requestModal .tableWrap table tr td .info .category{display: flex; justify-content: flex-start; align-items: flex-start;margin-top:2px; flex-wrap: wrap;}
.requestModal .tableWrap table tr td .info .category li{font-size:13px; color:var(--small-color);}
.requestModal .tableWrap table tr td .info .category li:after{content:''; display: inline-block; width: 1px; height: 10px; background: var(--gray-color); margin: 0 5px;}
.requestModal .tableWrap table tr td .info .category li:last-child:after{display: none;}
.requestModal .tableWrap table tr td .url{word-break: break-all; font-size:14px;}
.requestModal .tableWrap table tr td .url:hover{color:var(--bk-color);}
.requestModal .tableWrap table tr td .btnWrap button{font-size:13px; color:var(--bk-color); border:1px solid var(--gray-color); border-radius: 5px; background:var(--gray-bg1); display: flex; justify-content: center; align-items: center; height:30px; width:100%; font-weight:600; cursor: pointer;}
.requestModal .tableWrap table tr td .btnWrap .rejectBtn{margin-top:5px;}
.requestModal .tableWrap table tr td .btnWrap .status{display:inline-block;font-size:13px; color:var(--white-color); background:var(--bk-color); border-radius: 5px; padding:6px 8px; font-weight:600;}
.requestModal .tableWrap table tr td .btnWrap .status01{background:var(--green-color);}
.requestModal .tableWrap table tr td .btnWrap .status02{background:var(--red-color);}
.requestModal .tableWrap table tr td .btnWrap button:hover{background:var(--bk-color); border-color:var(--bk-color); color:var(--white-color);}


.requestModal .modalBtn a{width:100%;}

.noneTableWrap{display: none;}
.requestModal .pagination{margin-top:20px;}
