.memberBody{background:var(--gray-bg2); min-width:100vw; min-height:100vh; position:relative;}

/*로그인 페이지(모두 동일)*/
.memberWrap .memberInner{width:480px; position:absolute; top:50%; left:50%; transform: translate(-50% , -50%); background:var(--white-color); border-radius: 20px; padding:40px 26px; box-shadow: var(--box-shadow);}
.memberWrap .memberInner .title{font-size:30px; color:var(--bk-color); font-weight:700; text-align: center;}
.memberWrap .memberInner .tabWrap{display: flex; justify-content: space-between; align-items: center; padding:5px; border-radius: 10px; overflow: hidden; background:var(--gray-bg1); margin-top:26px;}
.memberWrap .memberInner .tabWrap li{width:33.333%;}
.memberWrap .memberInner .tabWrap li a{display: flex; justify-content: center; align-items: center; height:40px; width:100%; font-weight:500; font-size:15px;}
.memberWrap .memberInner .tabWrap li a.active{background:var(--white-color); color:var(--bk-color); border-radius: 8px; box-shadow: var(--box-shadow)}


.memberWrap .memberInner .tabCont{display: none;}
.memberWrap .memberInner .tabCont.active{display: block;}
.loginWrap .loginInner .loginBox{margin-top:30px; }
.loginWrap .loginInner .loginBox ul li{margin-bottom:15px;}
.loginWrap .loginInner .loginBox ul li input{width:100%;height:50px;}

.loginWrap .loginInner .loginBox .findWrap{display: flex; justify-content: space-between; align-items: center; margin-bottom:15px;}
.loginWrap .loginInner .loginBox .findWrap li{margin-bottom:0;}
.loginWrap .loginInner .loginBox .findWrap li a{font-size:14px; color:var(--small-color);}

.loginWrap .loginInner .btnWrap button{width:100%; display: flex; justify-content: center; align-items: center; cursor: pointer; height:50px; border:none; border-radius: 10px; outline: none; color:var(--white-color); background:var(--bk-color); font-weight:700; }

.loginWrap .loginInner .snsLoginWrap{margin-top:15px; padding-top:15px; border-top:1px solid var(--gray-color); display: flex; justify-content: center; align-items: center;}
.loginWrap .loginInner .snsLoginWrap li:nth-child(2){margin:0 26px;}
.loginWrap .loginInner .snsLoginWrap li a{display: flex; justify-content: center; align-items: center; width:55px; height:55px; font-size:0; border-radius: 50%; }
.loginWrap .loginInner .snsLoginWrap li:nth-child(1) a{background:#ea4335  url("/images/snsIcon01.png") no-repeat center; background-size:21px;}
.loginWrap .loginInner .snsLoginWrap li:nth-child(2) a{background:#fae100 url("/images/snsIcon02.png") no-repeat center; background-size:21px;}
.loginWrap .loginInner .snsLoginWrap li:nth-child(3) a{background:#2db400 url("/images/snsIcon03.png") no-repeat center; background-size:21px;}



/*아이디 비밀번호 찾기 페이지 */
/*아이디 찾기*/
.findWrap .memberInner .tabWrap li{width:50%;}
.findWrap .findIdForm {margin-top:30px;}
.findWrap .findIdForm .findIdInput li{display: flex; flex-direction: column; margin-bottom:30px;}
.findWrap .findIdForm .findIdInput li label{display: flex; justify-content: flex-start; align-items: center; margin-bottom:5px; }
.findWrap .findIdForm .findIdInput li .tit{color:var(--bk-color); font-weight:600; font-size:15px; margin-left:5px;}
.findWrap .findIdForm .findIdInput li input[type='text']{font-size:15px; height:45px;}

.findWrap .btnWrap button{width:100%; display: flex; justify-content: center; align-items: center; cursor:pointer; height:45px; border:none; border-radius: 10px; outline: none; color:var(--white-color); background:var(--bk-color); font-weight:700;}

.memberWrap .memberInner .backWrap{width:100%; display:flex; justify-content:center; align-items:center; margin-top:20px;}
.memberWrap .memberInner .backWrap a{font-size:14px;display: inline-block; color:var(--small-color); margin-left:30px; }
.memberWrap .memberInner .backWrap a:first-child{margin-left:0;}

/*아이디 찾기 findId.html*/

.findWrap .noneFind{padding-top:40px;}
.findWrap .findIdWrap .txt{color:var(--bk-color); font-size:16px; font-weight:600; padding:120px 20px 0; position:relative; text-align: center; word-break: keep-all; }
.findWrap .findIdWrap .txt:before{content:''; display: block; background:url("/images/notiIcon.png") no-repeat center; background-size:100%; position:absolute; top:0; left:50%; transform: translateX(-50%); width:90px; height:90px;}

.findWrap .findIdWrap .btnWrap{margin-top:40px;}
.findWrap .findIdWrap .btnWrap .btn{width:100%; height:50px; display: flex; justify-content: center; align-items: center; font-weight:700; border-radius: 10px; font-size:15px;}
.findWrap .findIdWrap .btnWrap .findIdBtn{background:var(--bk-color); color:var(--white-color);}
.findWrap .findIdWrap .btnWrap .loginBtn{background:var(--white-color); color:var(--bk-color); border:1px solid var(--bk-color);margin-top:10px;}

.findWrap .findUser{padding-top:40px;}
.findWrap .findIdWrap .findUser .txt span{color:var(--bk-color); font-size:24px;}
.findWrap .findIdWrap .findUser .txt:before{content:''; display: block; background: url("/images/checkIcon.png")no-repeat center; background-size:100%;}

/*비밀번호 찾기*/
.findWrap .findPwForm{margin-top:30px;}
.findWrap .findPwForm .findPwInput li {display: flex; flex-direction: column; margin-bottom:30px;}
.findWrap .findPwForm .findPwInput li .tit {color:var(--bk-color); font-weight:600; font-size:15px; margin-bottom:5px;}
.findWrap .findIdForm .findPwInput li input{font-size:15px; height:50px; width: 100%; }

/*비밀번호 찾기 완료*/
.findWrap .updatePwWrap .tit{font-size:24px; color:var(--bk-color); font-weight:600; text-align: center; padding:120px 20px 0; position:relative;}
.findWrap .updatePwWrap .tit:before{content:''; display: block; background: url("/images/checkIcon.png")no-repeat center; background-size:100%; position:absolute; top:0; left:50%; transform: translateX(-50%); width:90px; height:90px;}
.findWrap .updatePwWrap .txt{font-size:15px; margin-top:15px; text-align: center; line-height:1.5;}
.findWrap .updatePwWrap .btnWrap a{width:100%; height:50px; display: flex; justify-content: center; align-items: center; font-weight:700; border-radius: 10px; font-size:15px; background:var(--bk-color); color:var(--white-color); margin-top:40px;}


/*회원가입 step01 join.html*/
.joinWrap .memberInner > .txt{font-size:15px; margin:15px 0 30px; text-align: center;}
.joinWrap .memberInner .selectJoin li a{display: flex; justify-content: center; align-items: center; border-radius: 10px; border:1px solid var(--gray-color); color:var(--bk-color); font-size:15px; font-weight:600; height:50px; margin-top:10px;}
.joinWrap .memberInner .selectJoin li:last-child a{background:var(--bk-color); color:var(--white-color); border-color:var(--bk-color);}


/*회원가입 step02 joinMember.html*/
.memberBody.joinBody{min-width:inherit; min-height:inherit;}
.joinWrap01.memberWrap .memberInner{position:inherit; top:0 ;left:0; transform: inherit; margin: 60px auto;}
.joinWrap .joinForm .list{margin-top:30px;}
.joinWrap .joinForm .list .titleBox{display: flex; justify-content: flex-start; align-items: center;}
.joinWrap .joinForm .list .titleBox .tit{font-size:15px; font-weight:700; color:var(--bk-color);}
.joinWrap .joinForm .list .titleBox .star{color:var(--red-color); font-size:15px; margin-top:-5px; margin-left:2px; font-weight:700;}
.joinWrap .joinForm .list .titleBox .error{color:var(--red-color); font-size:13px; margin-left:5px;}
.joinWrap .joinForm .list .txtBox{margin-top:5px; display: flex; justify-content: space-between; align-items: center;}
.joinWrap .joinForm .list .txtBox input{width:100%; height:45px;}

.joinWrap .joinForm .list01 .txtBox input{width:calc(100% - 130px);}
.joinWrap .joinForm .list01 .txtBox .btn{width:120px; height:45px; border-radius: 10px; background:var(--bk-color); color:var(--white-color); font-size:15px; font-weight:700; display: flex; justify-content: center; align-items: center;}

.joinWrap .joinForm .list02 .txtBox select{height:45px; width:30%; border-radius: 10px; border:1px solid var(--gray-color); padding:0 10px; outline: none; cursor: pointer;}
.joinWrap .joinForm .list02 .txtBox input{width:30%;}
.joinWrap .joinForm .list02 .txtBox .hyphen{font-size:15px;}
.joinWrap .joinForm .list03 .txtBox input{width:30%;}
.joinWrap .joinForm .list03 .txtBox .hyphen{font-size:15px;}
.joinWrap .joinForm .list03 .txtBox select{height:45px; width:30%; border-radius: 10px; border:1px solid var(--gray-color); padding:0 10px; outline: none; cursor: pointer;}

.joinWrap .joinForm .list .txtBox input[type="date"]{border:1px solid var(--gray-color); font-size:15px; padding:0 10px; border-radius: 10px; border:1px solid var(--gray-color); outline: none;}


.joinWrap .joinForm .list04 .txtBox{flex-direction: column;}
.joinWrap .joinForm .list04 .txtBox .txt{display: flex; justify-content: space-between; align-items: center; width:100%;}
.joinWrap .joinForm .list04 .txtBox .txt input{width:calc(50% - 5px);}
.joinWrap .joinForm .list04 .txtBox .txt01 input{width:calc(100% - 130px);}
.joinWrap .joinForm .list04 .txtBox .txt01 .btn{width:120px; height:45px; display: flex; justify-content: center; align-items: center; border-radius: 10px; background:var(--bk-color); color:var(--white-color); font-size:15px; font-weight:700; }
.joinWrap .joinForm .list04 .txtBox > input{margin:5px 0;}
.joinWrap .joinForm .list04 .txtBox input:read-only{background:var(--gray-bg1)}

.joinWrap form .btnWrap button{display: flex; justify-content: center; align-items: center; margin-top:30px; border-radius: 10px; background: var(--bk-color); color:var(--white-color); font-size:15px; font-weight: 700; height:50px; width:100%; outline: none; border:none;
    cursor: pointer;}

/*업체 셀러 회원가입*/
.joinWrap .joinForm .categoryList .titleBox .tit{display: flex; justify-content: flex-start; align-items: center; position:relative;}
.joinWrap .joinForm .categoryList .titleBox .tit .infoBtn{font-size:0; display: flex; justify-content: center; align-items: center; width:15px; height:15px; background:url("/images/infoIcon.png")no-repeat center; background-size:100%; margin-left:2px; margin-top:-1px;}
.joinWrap .joinForm .categoryList .titleBox .tit .infoBox{display: none; position:absolute; top:22px; left:0; padding:10px; border:1px solid var(--gray-color); background:var(--white-color); box-shadow: var(--box-shadow); border-radius: 5px; width:300px; font-weight:400; font-size:14px; line-height:1.3; word-break: keep-all;}
.joinWrap .joinForm .categoryList .txtBox{display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap; margin-top:10px;}
.joinWrap .joinForm .categoryList .titleBox .tit .infoBtn:hover .infoBox{display: block;}
.joinWrap .joinForm .categoryList .txtBox li{display: flex; justify-content: flex-start; align-items: center; width:33.33%; margin-bottom:10px;}
.joinWrap .joinForm .categoryList .txtBox li:nth-last-child(-n + 2){margin-bottom:0;}
.joinWrap .joinForm .categoryList .txtBox li input{width:15px; height:15px; border:1px solid var(--gray-color);}
.joinWrap .joinForm .categoryList .txtBox li label{margin-left:5px; font-size:15px; margin-top:1px;}

.joinWrap .joinForm .list .txtBox textarea{width:100%; border:1px solid var(--gray-color); border-radius: 10px; resize: none; height:60px; padding:10px; outline: none; }



/*반응형 쿼리문 START*/
@media screen and (max-width: 768px) {
    /* ruleset for 768px - 481px 태플릿*/
    /*로그인 페이지 모두 동일*/
    .memberWrap .memberInner{width:94%; max-height:94vh; overflow-y:auto; }
    .joinWrap01.memberWrap .memberInner{overflow-y:inherit; max-height:inherit;}
}

@media screen and (max-width: 480px) {
    /* ruleset for 480px 모바일*/
    /*로그인 페이지*/
    .memberWrap .memberInner{padding:30px 3vw; border-radius: 10px;}
    .memberWrap .memberInner .title{font-size:24px;}
    .memberWrap .memberInner .tabWrap{margin-top:26px; border-radius: 5px;}
    .memberWrap .memberInner .tabWrap li a{font-size:14px;}
    .memberWrap .memberInner .tabWrap li a.active{border-radius: 5px;}
    .loginWrap .loginInner .loginBox{margin-top:10px;}

    .loginWrap .loginInner .loginBox ul li{margin-bottom:10px;}
    .loginWrap .loginInner .loginBox ul li input{height:45px; border-radius: 5px;}
    input[type="text"], input[type=password]{font-size:14px; }
    .loginWrap .loginInner .loginBox .findWrap{margin-top:15px;}
    .loginWrap .loginInner .loginBox .findWrap li a{font-size:13px;}
    .loginWrap .loginInner .btnWrap button{font-size:14px; height:45px;border-radius: 5px;}

    .loginWrap .loginInner .snsLoginWrap li a{width:45px; height:45px;}
    .loginWrap .loginInner .snsLoginWrap li:nth-child(1) a{background-size:17px;}
    .loginWrap .loginInner .snsLoginWrap li:nth-child(2) a{background-size:17px;}
    .loginWrap .loginInner .snsLoginWrap li:nth-child(3) a{background-size:17px;}


    /*아이디 찾기*/
    .findWrap .findIdForm{margin-top:20px;}
    .findWrap .findIdForm .findIdInput li{margin-bottom:20px;}
    .findWrap .findIdForm .findIdInput li .tit{font-size:14px;}
    .findWrap .findIdForm .findIdInput li input[type='text']{border-radius: 5px; height:45px;}
    .findWrap .btnWrap button{font-size:14px; height:45px; border-radius: 5px;}

    .memberWrap .memberInner .moveLogin{font-size:13px;}

    /*아이디 찾기 완료*/
    .findWrap .findIdWrap .txt{font-size:14px; padding:90px 20px 0;}
    .findWrap .findIdWrap .txt:before{width:70px; height:70px;}
    .findWrap .findIdWrap .findUser .txt span{font-size:22px;}

    .findWrap .findIdWrap .btnWrap{margin-top:30px;}
    .findWrap .findIdWrap .btnWrap .btn{border-radius: 5px; font-size:14px;}


    /*비밀번호 찾기*/
    .findWrap .findPwForm{margin-top:30px;}
    .findWrap .findPwForm .findPwInput li{margin-bottom:20px;}
    .findWrap .findPwForm .findPwInput li .tit{font-size:14px;}
    input[type="text"], input[type=password]{border-radius: 5px;}

    /*비밀번호 찾기 완료*/
    .findWrap .updatePwWrap .tit{font-size:22px; padding:90px 20px 0;}
    .findWrap .updatePwWrap .tit:before{width:70px; height:70px;}
    .findWrap .updatePwWrap .txt{font-size:14px; line-height: 1.3;}
    .findWrap .updatePwWrap .btnWrap a{margin-top:30px; font-size:14px; height:45px; border-radius: 5px;}


    /*회원가입 step01 join.html*/
    .joinWrap .memberInner > .txt{font-size:14px; margin:5px 0 20px;}
    .joinWrap .memberInner .selectJoin li a{height:45px; border-radius: 5px; font-size:14px;}

    /*회원가입 step02 joinMember.html*/
    .joinWrap01.memberWrap .memberInner{margin:40px auto;}
    .joinWrap .joinForm .list{margin-top:20px;}
    .joinWrap .joinForm .list .titleBox .tit{font-size:14px;}
    .joinWrap .joinForm .list .titleBox .star{font-size:14px;}
    .joinWrap .joinForm .list .titleBox .error{font-size:13px;}
    .joinWrap .joinForm .list01 .txtBox .btn{border-radius: 5px; font-size:14px;}
    .joinWrap .joinForm .list02 .txtBox select{border-radius: 5px; font-size:14px;}
    .joinWrap .joinForm .list .txtBox input[type="date"]{font-size:14px; border-radius: 5px;}
    .joinWrap .joinForm .list04 .txtBox .txt01 .btn{font-size:14px; border-radius: 5px;}
    .joinWrap form .btnWrap button{margin-top:20px; font-size:14px; height:45px; border-radius: 5px;}

    /*업체 셀러 회원가입*/
    .joinWrap .joinForm .categoryList .titleBox .tit .infoBox{font-size:13px; width:260px; top:20px;}

    .joinWrap .joinForm .categoryList .txtBox li input{width:14px; height:14px;}
    .joinWrap .joinForm .categoryList .txtBox li label{font-size:14px;}

}