.mypageCont{background:var(--gray-bg2);}
.mypageWrap.joinWrap{padding:40px 20px; margin:66px auto 0; border-left:1px solid var(--gray-color); border-right: 1px solid var(--gray-color); max-width: 640px; background:var(--white-color); box-shadow: var(--box-shadow); }
.mypageWrap .titleWrap .title{font-size:20px; font-weight:700; color:var(--bk-color);}
.mypageWrap .titleWrap .title{font-size:20px; font-weight:700; color:var(--bk-color);}

/*회원정보수정*/
.mypageWrap .joinForm .list input:read-only{background:var(--gray-bg1);}

/*장바구니*/
.mypageWrap{margin:66px auto 0; border-left:1px solid var(--gray-color); border-right: 1px solid var(--gray-color); max-width: 640px; background:var(--white-color); box-shadow: var(--box-shadow); }
.mypageWrap .mypageInner{padding:40px 20px; }
.mypageCont .allChkBox{display: flex; justify-content: space-between; align-items: center; background:var(--white-color); width: 100%; border-bottom:1px solid var(--gray-color); height:45px; position:sticky; top:66px; left:0; padding:0 20px;z-index: 999;}
.mypageCont .allChkBox label{display: flex; justify-content: flex-start; align-items: center;}
.mypageCont .allChkBox label input{width:14px; height:14px; cursor: pointer;}
.mypageCont .allChkBox label .tit{margin-left:5px; font-size:14px; font-weight:500; color:var(--bk-color);}
.mypageCont .allChkBox label .tit span{font-size:14px; font-weight:500; color:var(--bk-color);}
.mypageCont .allChkBox label .tit span.pl{font-size:12px; margin-top:-1px; display: inline-block; vertical-align: middle; }
.mypageCont .allChkBox .deleteBtn{font-size:14px; color:var(--bk-color); display: flex; justify-content: center; align-items: center; height:30px; border-radius: 30px; padding:0 12px; background:var(--gray-bg1); font-weight:600;}

.cartWrap .mypageInner{background:var(--gray-bg1); min-height: calc(100vh - 196px);}
.cartWrap .cartList li{background:var(--white-color); padding:20px; display: flex; justify-content: space-between; align-items: flex-start; border-radius: 10px; position:relative; margin-bottom:10px; flex-wrap: wrap;}
.cartWrap .cartList li .list{display: flex; justify-content: space-between; align-items: flex-start;  border-top:1px dashed var(--gray-color);  margin-top:15px; padding-top:15px; width:100%; position:relative;}
.cartWrap .cartList li .list:first-child{border:none; margin-top:0; padding-top:0;}
.cartWrap .cartList li input{width:16px; height:16px; cursor: pointer;}
.cartWrap .cartList li .prodInfoWrap{width:calc(100% - 26px); display: flex;  flex-wrap: wrap;}
.cartWrap .cartList li .prodInfoWrap .prodBox{ display: flex; justify-content: space-between; align-items: flex-start; width:100%; }

.cartWrap .cartList li .prodInfoWrap .prodBox .prodImg{width:100px; height:100px; position:relative;}
.cartWrap .cartList li .prodInfoWrap .prodBox .prodImg img{width:100%; height:100%; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); object-fit: cover; border-radius: 10px; border:1px solid var(--gray-color);}
.cartWrap .cartList li .prodInfoWrap .prodBox .txtBox{width:calc(100% - 100px); padding:10px;}
.cartWrap .cartList li .prodInfoWrap .prodBox .txtBox .tit{font-size:16px; font-weight:700; color:var(--bk-color); padding-right:30px;}

.cartWrap .cartList li .prodInfoWrap .prodBox .txtBox .option span{margin-right:8px; padding-right:8px; position:relative;font-size:14px; font-weight:500; color:var(--small-color);}
.cartWrap .cartList li .prodInfoWrap .prodBox .txtBox .option span:after{content:'';display: block; width:1px; height:10px; background:var(--gray-color); position:absolute; top:50%; right:0; transform: translateY(-50%);}
.cartWrap .cartList li .prodInfoWrap .prodBox .txtBox .option span:last-child{padding-right:0; margin-right:0;}
.cartWrap .cartList li .prodInfoWrap .prodBox .txtBox .option span:last-child:after{display: none;}


.cartWrap .cartList li .prodPrice{width:100%; display: flex; justify-content: space-between; align-items: center;margin-top:15px;}
.cartWrap .cartList li .countBox{display: flex; justify-content: flex-start; align-items: center; }
.cartWrap .cartList li .countBox input{height:28px; width:50px; border:1px solid var(--gray-color); border-radius: 5px; outline: none; padding:0 10px; text-align: center; font-size:14px;}
.cartWrap .cartList li .countBox input::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0;}
.cartWrap .cartList li .countBox input::-webkit-inner-spin-button {-webkit-appearance: none;}
.cartWrap .cartList li .countBox span{border:1px solid var(--gray-color); border-radius: 5px; width:28px; height:28px; display: flex;margin-left:5px; position:relative; font-size:0; cursor: pointer;}
.cartWrap .cartList li .countBox span:before{content:''; display: block; position:absolute;top:50%; left:50%; transform: translate(-50%, -50%); width:10px; height:1px; background:var(--small-color);}
.cartWrap .cartList li .countBox span.plus:after{content:''; display: block; position:absolute;top:50%; left:50%; transform: translate(-50%, -50%); width:1px; height:10px; background:var(--small-color);}

.cartWrap .cartList li .prodPrice .priceInfo{display: flex; justify-content: flex-end; align-items: center;}
.cartWrap .cartList li .prodPrice .priceInfo .oriPrice{font-size:14px; color:var(--small-color); position: relative; margin-right:8px; margin-bottom:-2px;}
.cartWrap .cartList li .prodPrice .priceInfo .oriPrice:after{content:''; display: block; width:calc(100% + 2px); height:1px; background:var(--small-color); position:absolute; top:50%; left:-1px; transform: translateY(-50%);}
.cartWrap .cartList li .prodPrice .priceInfo .price{font-size:16px; font-weight:700; color:var(--bk-color);}
.cartWrap .cartList li .totalPrice{margin-top:20px; padding-top:20px; border-top:1px solid var(--gray-color); width:100%; text-align: center;}
.cartWrap .cartList li .totalPrice span{font-size:14px; color:var(--small-color);}
.cartWrap .cartList li .totalPrice span.total{color:var(--bk-color); font-weight:600;}

.cartWrap .cartList li .deleteBtn{position:absolute; top:15px; right:0; display: block; width:28px; height:28px; font-size:0;}
.cartWrap .cartList li .list:first-child .deleteBtn{top:0;}
.cartWrap .cartList li .deleteBtn:before{content:'';display: block; width:1.5px; height:20px; background: var(--gray-color); position:absolute; top:4px; right:50%; transform:rotate(45deg) translateX(-50%); }
.cartWrap .cartList li .deleteBtn:after{content:'';display: block; width:1.5px; height:20px; background: var(--gray-color); position:absolute; top:4px; right:50%; transform:rotate(-45deg) translateX(-50%); }


.cartWrap .totalInfo{background:var(--white-color); padding:30px 20px; border-radius: 10px;}
.cartWrap .totalInfo li{width:100%; display: flex;justify-content: space-between; align-items: center; margin-bottom:15px;}
.cartWrap .totalInfo li p{color:var(--small-color); font-size:15px;}
.cartWrap .totalInfo li .txt{color:var(--bk-color); font-weight:500;}
.cartWrap .totalInfo li.total{margin-bottom:0;}
.cartWrap .totalInfo li.total p{color:var(--bk-color); font-size:18px; font-weight:700;}
.cartWrap .totalInfo li.total .txt{color:var(--main-color2);}

.cartWrap .orderBtnWrap{position: fixed; bottom:0; left:50%; transform: translateX(-50%); width:100%; height:85px; max-width: 640px; padding:15px 20px; background: var(--white-color); z-index: 999999; border:1px solid var(--gray-color);border-bottom:none;}
.cartWrap .orderBtnWrap a{background:var(--main-color2); display: flex; justify-content: center;align-items: center; border-radius: 10px; height:55px; color:var(--white-color); font-weight:700;}
.cartWrap .orderBtnWrap a span{ color:var(--white-color); font-weight:700; display: block; margin:0 5px;}


/*장바구니 상품 없을 시*/
.cartWrap .noneProd{text-align: center; display: none; justify-content: center; align-items: center; flex-direction: column; margin:40px 0;}
.cartWrap .noneProd .title{color:var(--bk-color);font-weight:700;}
.cartWrap .noneProd .txt{color:var(--small-color); font-size:14px;margin-top:5px;}
.cartWrap .noneProd .moreBtn{font-size:14px; margin-top:20px; width:120px;height:35px; border-radius: 30px; background:var(--main-color2); color:var(--white-color); font-weight:700; display: flex; justify-content: center;align-items: center;}



/*주문 결제*/
.payWrap .payList{background:var(--white-color); border-radius: 10px; padding:20px;}
.payWrap .payList .title{font-size:17px; font-weight:700; color:var(--bk-color);}
.payWrap .payList li{margin-top:30px;}
.payWrap .payList li .titBox{display: flex;justify-content: flex-start; align-items: center;}
.payWrap .payList li .tit{font-size:15px; font-weight:700; color:var(--bk-color);}
.payWrap .payList li .error{color:var(--red-color); font-size:13px; margin-left:5px;}
.payWrap .payList li .txtBox{display: flex; justify-content: space-between; align-items: center; margin-top:5px;}
.payWrap .payList li .txtBox input{width:100%;height:45px;}
.payWrap .payList li.list02 .txtBox select{width:30%; height:45px; border-radius: 10px; border:1px solid var(--gray-color); padding:0 10px; outline: none; cursor: pointer;}
.payWrap .payList li.list02 .txtBox input{width: 30%;}

.payWrap .receiveInfo{margin-top:10px;}
.payWrap .receiveInfo .selectInfo{margin-top:30px; display: flex;justify-content: flex-start;align-items: center;}
.payWrap .receiveInfo .selectInfo label{display: flex;justify-content: flex-start;align-items: center;}
.payWrap .receiveInfo .selectInfo label:first-child{margin-right:30px;}
.payWrap .receiveInfo .selectInfo label input{margin-right:5px; width:15px; height:15px;}
.payWrap .receiveInfo .selectInfo label span{font-size:15px; display: block; vertical-align: middle; margin-top:1px; color:var(--bk-color);}

.payWrap .payList li.list03 .txtBox{flex-wrap: wrap;}
.payWrap .payList li.list03 .txtBox input:read-only{background:var(--gray-bg1)}
.payWrap .payList li.list03 .txtBox .txt{display: flex; justify-content: space-between; align-items: center; width:100%;}
.payWrap .payList li.list03 .txtBox .txt01 input{width:calc(100% - 130px);}
.payWrap .payList li.list03 .txtBox .txt01 .btn{width:120px; height:45px; display: flex; justify-content: center; align-items: center; border-radius: 10px; background:var(--bk-color); color:var(--white-color); font-size:15px; font-weight:700;}
.payWrap .payList li.list03 .txtBox > input{margin:5px 0;}
.payWrap .payList li.list03 .txtBox .txt02 input:first-child{margin-right:10px;}

.payWrap .prodList{margin-top:10px;}
.payWrap .prodList .list{display: flex; justify-content: space-between; align-items: flex-start; border-top:1px solid var(--gray-color); margin-top:15px; padding-top:15px;}
.payWrap .prodList .list:first-child{border-top:none; }
.payWrap .prodList .list .prodImg{display: block; width:120px; height:120px; position:relative;}
.payWrap .prodList .list .prodImg img{width:100%; height:100%; position:absolute;top:50%; left:50%; transform: translate(-50%, -50%);object-fit: cover; border-radius: 10px; border:1px solid var(--gray-color);}
.payWrap .prodList .list .txtBox{width:calc(100% - 140px);display: block; }
.payWrap .prodList .list .txtBox p{width:100%; font-size:14px; font-weight:500; color:var(--small-color); margin-bottom:3px;}
.payWrap .prodList .list .txtBox p span{font-size:14px;color:var(--small-color);}
.payWrap .prodList .list .txtBox .tit{font-size:16px; font-weight:700; color:var(--bk-color);}
.payWrap .prodList .list .txtBox .option span{margin-right:8px; padding-right:8px; position:relative; }
.payWrap .prodList .list .txtBox .option span:after{content:''; display: block; width:1px; height:10px; background:var(--gray-color); position:absolute; top:50%; right:0; transform: translateY(-50%);}
.payWrap .prodList .list .txtBox .option span:last-child{margin-right:0; padding-right:0;}
.payWrap .prodList .list .txtBox .option span:last-child:after{display: none;}
.payWrap .prodList .list .txtBox .totalPrice {display: flex; justify-content: flex-start; align-items: center; margin-top:20px; }
.payWrap .prodList .list .txtBox .totalPrice .oriPrice{color:var(--small-color); font-size:14px; margin-right:8px; position:relative;}
.payWrap .prodList .list .txtBox .totalPrice .oriPrice:after{content:'';display: block; width:calc(100% + 2px);height:1px; background:var(--small-color); position:absolute; top:50%; left:-1px; transform: translateY(-50%);}
.payWrap .prodList .list .txtBox .totalPrice .price{color:var(--bk-color); font-weight:700; font-size:16px;}


.payWrap .totalProd{margin-top:10px;}
.payWrap .totalProd li{display: flex; justify-content: space-between; align-items: center; margin-top:15px;}
.payWrap .totalProd li:first-child{margin-top:30px;}
.payWrap .totalProd li p{font-size:15px; color:var(--bk-color); font-weight:500;}
.payWrap .totalProd li .tit{font-weight:400; color:var(--small-color);}
.payWrap .totalProd li .discount{color:var(--red-color);}
.payWrap .totalProd li.total{padding-top:15px; border-top:1px solid
var(--gray-color);}
.payWrap .totalProd li.total .tit{color:var(--bk-color); font-size:18px; font-weight:700;}
.payWrap .totalProd li.total .txt{color:var(--main-color2); font-size:18px; font-weight:700;}

/* 주문내역 */
.orderWrap .orderList li{margin-top:30px;}
.orderWrap .orderList li:first-child{margin-top:0px;}
.orderWrap .orderList .titleBox{display: flex; justify-content: space-between; align-items: flex-end; margin-bottom:10px;}
.orderWrap .orderList .titleBox .tit{display: flex; justify-content: flex-start; align-items: center; color:var(--bk-color); font-size:15px; font-weight:500;}
.orderWrap .orderList .titleBox .info{font-size:14px; height:30px; border-radius: 40px; width:80px; border:1px solid var(--green-color); display: flex; justify-content: center; align-items: center; color:var(--green-color); font-weight:600;}
.orderWrap .orderList .titleBox .info02{color:var(--red-color); border-color:var(--red-color);}

.orderWrap .orderList .prodInfo{display: flex; justify-content: space-between; align-items: flex-start; background:var(--white-color); padding:20px; border-top:1px dashed var(--gray-color);}
.orderWrap .orderList .prodInfo:nth-child(2){border-radius: 10px 10px 0 0; border-top:none;}
.orderWrap .orderList .prodInfo .prodImg{display: block; width:100px; height:100px; position:relative; }
.orderWrap .orderList .prodInfo .prodImg img{width:100%; height:100%; object-fit: cover; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); border-radius: 10px; border:1px solid var(--gray-color);}
.orderWrap .orderList .prodInfo .txtBox{width:calc(100% - 120px); margin-top:10px;}
.orderWrap .orderList .prodInfo .txtBox .tit{font-size:16px; font-weight:700; color:var(--bk-color);}
.orderWrap .orderList .prodInfo .txtBox p{width:100%; font-size:14px; font-weight:500; color:var(--small-color); margin-bottom:3px;}
.orderWrap .orderList .prodInfo .txtBox p span{font-size:14px; color:var(--small-color); }
.orderWrap .orderList .prodInfo .txtBox .option span{margin-right:8px; padding-right:8px; position:relative;}
.orderWrap .orderList .prodInfo .txtBox .option span:after{content:''; display: block; width:1px; height:10px; background: var(--gray-color); position:absolute; top:50%; right:0; transform: translateY(-50%);}
.orderWrap .orderList .prodInfo .txtBox .option span:last-child{padding-right:0; margin-right:0;}
.orderWrap .orderList .prodInfo .txtBox .option span:last-child:after{display: none;}
.orderWrap .orderList .prodInfo .txtBox .price {font-size:16px; font-weight:700; color:var(--bk-color); margin-top:20px;}

.orderWrap .orderList .totalInfo{border-radius: 0 0 10px 10px; padding:10px 20px; border-top:1px solid var(--gray-color); display: flex; justify-content: flex-end;}
.orderWrap .orderList .totalInfo a{display: flex; justify-content: center; align-items: center; height:35px; border-radius: 35px; font-size:14px; border:1px solid var(--gray-color); padding:0 20px; font-weight:500; margin-right:10px;}
.orderWrap .orderList .totalInfo a:last-child{margin-right:0;}
.orderWrap .orderList .totalInfo a.noneBtn{border-color:var(--red-color); color:var(--red-color);}





/*반응형 쿼리문 START*/
@media screen and (max-width: 768px) {
    /* ruleset for 768px - 481px 태플릿*/
    .mypageWrap{ border:none;}
    .mypageWrap.joinWrap{padding:40px 3vw;}
    .mypageWrap .mypageInner{padding:40px 3vw;}
    /*장바구니*/
    .mypageCont .allChkBox{padding:0 3vw;}

}

@media screen and (max-width: 480px) {
    .mypageWrap.joinWrap{padding:26px 3vw;}
    .mypageWrap .titleWrap .title{font-size:18px;}
    .mypageWrap .mypageInner{padding:26px 3vw; min-height: calc(100vh - 172px);}

    /*장바구니*/
    .mypageCont .allChkBox{height:40px;}
    .mypageCont .allChkBox label input{width:13px; height:13px;}
    .mypageCont .allChkBox label .tit{font-size:13px;}
    .mypageCont .allChkBox .deleteBtn{font-size:13px; height:28px;}


    .cartWrap .cartList li{padding:20px 3vw;}
    .cartWrap .cartList li .prodInfoWrap .prodBox .prodImg{width:80px; height:80px;}
    .cartWrap .cartList li .prodInfoWrap .prodBox .prodImg img{border-radius: 5px;}
    .cartWrap .cartList li .prodInfoWrap .prodBox .txtBox{width:calc(100% - 80px); padding:5px 10px;}
    .cartWrap .cartList li .prodInfoWrap .prodBox .txtBox .tit{font-size:14px;}
    .cartWrap .cartList li .prodInfoWrap .prodBox .txtBox .option span{font-size:13px;}
    .cartWrap .cartList li .prodInfoWrap .prodBox .txtBox .option span:after{height:9px;}

    .cartWrap .cartList li .prodPrice{margin-top:10px; flex-wrap: wrap;}
    .cartWrap .cartList li .countBox input{height:26px; font-size:13px; border-radius: 5px 0 0 5px;}
    .cartWrap .cartList li .countBox span{width:26px; height:26px; margin-left:0; border-radius: 0; border-left:none;}
    .cartWrap .cartList li .countBox span:last-child{border-radius: 0 5px 5px 0;}
    .cartWrap .cartList li .countBox span:before{width:8px;}
    .cartWrap .cartList li .countBox span.plus:after{height:8px;}

    .cartWrap .cartList li .prodPrice .priceInfo{width:100%;margin-top:20px;}
    .cartWrap .cartList li .prodPrice .priceInfo .oriPrice{font-size:12px;}
    .cartWrap .cartList li .prodPrice .priceInfo .price{font-size:15px; }
    .cartWrap .cartList li .totalPrice{margin-top:15px; padding-top:15px;}
    .cartWrap .cartList li .totalPrice span{font-size:13px;}

    .cartWrap .cartList li .deleteBtn:before{height:18px; right:6px; transform: rotate(45deg) translateX(0);}
    .cartWrap .cartList li .deleteBtn:after{height:18px; right:6px; transform: rotate(-45deg) translateX(0);}
    .cartWrap .totalInfo{padding:20px 3vw;}
    .cartWrap .totalInfo li{margin-bottom:12px;}
    .cartWrap .totalInfo li p{font-size:13px;}
    .cartWrap .totalInfo li.total p{font-size:15px;}


    .cartWrap .orderBtnWrap{padding:10px 3vw; height:66px;}
    .cartWrap .orderBtnWrap a{height:45px; border-radius: 5px; font-size:14px;}



    /*주문 결제*/
    .payWrap .payList .title{font-size:16px;}
    .payWrap .payList li{margin-top:20px;}
    .payWrap .payList li .tit{font-size:14px;}
    .payWrap .payList li.list02 .txtBox select{font-size:14px; border-radius: 5px;}
    .payWrap .receiveInfo .selectInfo{margin-top:20px;}
    .payWrap .receiveInfo .selectInfo label input{width:14px; height:14px;}
    .payWrap .receiveInfo .selectInfo label span{font-size:14px;}

    .payWrap .payList li.list03 .txtBox .txt01 .btn{font-size:14px; border-radius: 5px;}

    .payWrap .prodList .list{margin-top:10px; padding-top:10px;}
    .payWrap .prodList .list .prodImg{width:95px; height:95px;}
    .payWrap .prodList .list .prodImg img{border-radius: 5px;}
    .payWrap .prodList .list .txtBox{width: calc(100% - 105px);}
    .payWrap .prodList .list .txtBox .tit{font-size:15px;}
    .payWrap .prodList .list .txtBox p{font-size:13px;}
    .payWrap .prodList .list .txtBox p span{font-size:13px;}

    .payWrap .prodList .list .txtBox .totalPrice{margin-top:10px;}
    .payWrap .prodList .list .txtBox .totalPrice .oriPrice{font-size:13px;}
    .payWrap .prodList .list .txtBox .totalPrice .price{font-size:15px;}

    .payWrap .payList li{margin-top:15px;}
    .payWrap .totalProd li:first-child{margin-top:20px;}
    .payWrap .totalProd li p{font-size:13px;}
    .payWrap .payList li .tit{font-size:13px;}
    .payWrap .totalProd li.total .tit{font-size:15px;}
    .payWrap .totalProd li.total .txt{font-size:15px;}


    /*주문내역*/
    .orderWrap .orderList .titleBox .tit{font-size:14px;}
    .orderWrap .orderList .titleBox .info{font-size:13px; height:24px; border-radius: 24px; width:70px;}
    .orderWrap .orderList .prodInfo{ padding:3vw;}
    .orderWrap .orderList .prodInfo:nth-child(2){border-radius: 5px 5px 0 0;}
    .orderWrap .orderList .totalInfo{border-radius: 0 0 5px 5px;}
    .orderWrap .orderList .prodInfo .prodImg {width:80px; height:80px;}
    .orderWrap .orderList .prodInfo .prodImg img{ border-radius: 5px;}
    .orderWrap .orderList .prodInfo .txtBox{width:calc(100% - 90px); margin-top:5px;}
    .orderWrap .orderList .prodInfo .txtBox .tit{font-size:14px;}
    .orderWrap .orderList .prodInfo .txtBox p span{font-size:13px;}
    .orderWrap .orderList .prodInfo .txtBox .price{margin-top:10px; font-size:15px;}

    .orderWrap .orderList .totalInfo a{height:28px; font-size:13px;}






}













