img{width:100%;}

/*헤더 영역header.html*/
.headerWrap {width:100%; background:var(--gray-bg2);  }
.mheaderWrap{display: none;}
.headerWrap .headerInner{display: flex; justify-content: space-between; align-items: center; max-width:640px; width:100vw; margin:0 auto; height:66px; border:1px solid var(--gray-color);box-shadow: var(--box-shadow); border-top:none; padding:0 20px; position:fixed; z-index: 9999999; background:var(--white-color); top:0; left:50%; transform: translateX(-50%);}
.headerWrap .headerInner .leftIcon{display: flex; justify-content: flex-start; align-items: center; width:115px;}
.headerWrap .headerInner .leftIcon a{display: flex; justify-content: center; align-items: center; width:28px; height:100%;}
.headerWrap .headerInner .leftIcon .menuBtn{margin-right:10px;}
.headerWrap .headerInner .title{font-size:20px; font-weight:700; color:var(--bk-color);}
.headerWrap .headerInner .rightIcon{display: flex; justify-content: flex-end; align-items: center; width:120px;}
.headerWrap .headerInner .rightIcon li {margin-left:10px;}
.headerWrap .headerInner .rightIcon li a{display: flex; justify-content: center; align-items: center; width:28px; height:100%; position:relative;}
.headerWrap .headerInner .rightIcon li a .count{display: flex; justify-content: center; align-items: center; width:15px; height:15px; font-size:11px; font-weight: 700; color:var(--white-color); background:var(--main-color2); position:absolute; bottom:10px; right:-5px; border-radius: 50%; letter-spacing: -0.5px;}



/*메뉴*/
.menuWrap{position:fixed; max-width:640px; width:100%; height:100vh; top:0; left:50%; transform: translateX(-50%);z-index: 9999999;  display: none;}
.menuWrap .bgB{position:absolute; top:0; left:0; width:100%; height:100%; background:var(--bg-opacity); z-index: 999999;}
.menuWrap .menuBox{position:absolute; top:0; left:0; width:70%; height:100%; background:#fff; z-index: 9999998;}
.menuWrap .menuBox .infoWrap{padding:0 20px 30px; border-bottom:10px solid var(--gray-bg2)}
.menuWrap .menuBox .infoWrap .titBox{display: flex; justify-content: space-between; align-items: center; height:66px;}

.menuWrap .menuBox .infoWrap .logoutInfo{display: none}
.menuWrap .menuBox .infoWrap .loginInfo{display: block}

.menuWrap .menuBox .infoWrap .loginInfo .titBox {align-items: flex-end;}
.menuWrap .menuBox .infoWrap .titBox .tit{width:calc(100% - 60px); display: flex; flex-wrap:wrap;}
.menuWrap .menuBox .infoWrap .titBox .tit span{display: block; width:100%; font-size:15px; color:var(--small-color); font-weight:400; margin-top:2px;}
.menuWrap .menuBox .infoWrap .titBox .tit .userName{color:var(--bk-color); font-size:20px; font-weight:700;}

.menuWrap .menuBox .infoWrap .titBox .closeBtn{width:28px; height:66px; display: flex; justify-content: center; align-items: center;}
.menuWrap .menuBox .infoWrap .titBox .closeBtn img{width:28px; height:28px;}
.menuWrap .menuBox .infoWrap .btnWrap{display: flex; justify-content: space-between; align-items: center; margin-top:20px;}
.menuWrap .menuBox .infoWrap .btnWrap a{display: flex; justify-content: center; align-items: center; width:calc(50% - 5px); border-radius: 5px; color:var(--main-color2); border:1px solid var(--main-color2); height:50px; font-weight:500; font-size:15px;}
.menuWrap .menuBox .infoWrap .btnWrap a:nth-child(2){background:var(--main-color2); color:var(--white-color);}
.menuWrap .menuBox .menuList{padding:15px 20px;}
.menuWrap .menuBox .menuList li a{color:var(--bk-color); font-size:20px; font-weight:700; display:block; width:100%; padding:15px 0;}


/*푸터 영역 footer.html*/
.footerInner{max-width:640px; width:100%; margin:0 auto; background:var(--gray-bg1); border:1px solid var(--gray-color); padding:20px; }
.footerInner .footerMenu{display: flex; justify-content: center; align-items: center;}
.footerInner .footerMenu li{position:relative; padding:0 12px;}
.footerInner .footerMenu li:after{content:''; display: block; width:1px; height:10px; background:var(--gray-color); position:absolute; top:50%; right:0; transform: translateY(-50%);}
.footerInner .footerMenu li:last-child:after{display: none;}
.footerInner .footerMenu li a{display: flex; justify-content: center; align-items: center; font-size:15px;font-weight:500; color:var(--bk-color);}
.footerInner .footerMenu li a:hover{color:var(--main-color2);}

.footerInner .copyright{font-size:13px; color:var(--small-color); margin-top:10px; text-align: center;}

/*퀵메뉴*/
.quickMenu{position: fixed; bottom:60px; right:calc(50% - 420px); transform: translateX(-50%); z-index: 9999999;}
.quickMenu li a{display: flex; justify-content: center; align-items: center; border-radius: 50%; width:50px; height:50px; font-size:0; box-shadow: var(--box-shadow); margin-top:10px;}
.quickMenu li:first-child a{margin-top:0;}
.quickMenu li .chat{background:var(--white-color) url("/images/chatIcon.png")no-repeat; background-size:28px; background-position:center;}
.quickMenu li .top{background:var(--white-color) url("/images/topIcon.png")no-repeat; background-size:26px; background-position:center;}

/*반응형 쿼리문 START*/
@media screen and (max-width: 850px) {
    /* ruleset for 850px - 769px 태플릿*/
    .quickMenu{right:20px; transform: inherit;}
    .quickMenu li a{border:1px solid var(--gray-color); box-shadow: none; width:45px; height:45px;}
    .quickMenu li .chat{background-size:22px;}
    .quickMenu li .top{background-size:20px;}
}
@media screen and (max-width: 768px) {
    /* ruleset for 768px - 481px 태플릿*/
    .headerWrap .headerInner{padding:0 3vw; border-left:none; border-right:none;}
    .footerInner{padding:20px 3vw; border-left:none; border-right:none;}
    .headerWrap .headerInner .rightIcon{width:110px;}
    .headerWrap .headerInner .leftIcon{width:105px;}
    .quickMenu{right:3vw;}
    .quickMenu li a{margin-top:5px;}

}

@media screen and (max-width: 480px) {
    /* ruleset for 768px - 481px 태플릿*/
    .pcheaderWrap {display: none;}
    .mheaderWrap{display: flex;}
    .headerWrap .headerInner .title{font-size:18px;}
    .headerWrap .headerInner .rightIcon{width:90px;}
    .headerWrap .headerInner .leftIcon{width:85px;}


    .menuWrap .menuBox{width:85%;}
    .menuWrap .menuBox .infoWrap{padding: 0 3vw 20px;}
    .menuWrap .menuBox .infoWrap .titBox .tit{font-size:18px;}
    .menuWrap .menuBox .infoWrap .titBox .tit span{font-size:14px;}
    .menuWrap .menuBox .infoWrap .btnWrap a{height:40px; font-size:14px;}
    .menuWrap .menuBox .menuList li a{font-size:18px;}

    .footerInner{padding:15px 3vw;}
    .footerInner .footerMenu li a{font-size:13px;}
    .footerInner .footerMenu li:after{height:9px;}
    .footerInner .copyright{margin-top:5px; font-size:12px;}
}


















