<!DOCTYPE html>
<html
    layout:decorate="~{layouts/adminLayout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${isModify} ? '상품 수정' : '상품 등록'">상품 등록</title>
</head>
<body class="bodyCont">
<div layout:fragment="content">
    <div class="adminWrap productWrap prodWriteWrap">
        <div class="titleWrap">
            <h3 class="title" th:text="${isModify} ? '상품 수정' : '상품 등록'">상품 등록</h3>
        </div>
        <form th:action="${isModify} ? @{/admin/product/modify/{id}(id=${productDto.id})} : @{/admin/product/write}"
              th:object="${productDto}" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
            <div class="tableWrap tableWrap02">
                <table>
                    <colgroup>
                        <col style="width:200px">
                        <col style="width:calc(100% - 200px)">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>판매 상태</th>
                        <td>
                            <ul class="saleStatus radioBox">
                                <li>
                                    <input th:field="*{productStatus}" type="radio" value="SALE_ON" id="saleOn">
                                    <label for="saleOn">판매</label>
                                </li>
                                <li>
                                    <input th:field="*{productStatus}" type="radio" value="SALE_OFF" id="saleOff">
                                    <label for="saleOff">판매안함</label>
                                </li>
                            </ul>
                            <p th:if="${#fields.hasErrors('productStatus')}" th:errors="*{productStatus}" class="error"></p>
                        </td>
                    </tr>
                    <!--카테고리 선택 추후 추가예정-->
                    <!--<tr>
                        <th>
                            <p class="tit">카테고리 선택
                                <a class="infoBtn" href="javascript:void(0)">도움말
                                    <span class="infoBox">
                                    취급 상품과 관련된 카테고리를 선택해야 하며, 판매하고자 하는 상품군의 카테고리를 선택해 주시면 됩니다.<br>
                                        카테고리는 셀러와 매칭 서비스에 이용됩니다.
                                </span>
                                </a>
                            </p>
                        </th>
                        <td>
                            <ul class="category">
                                <li>
                                    <input id="category01" name="category" type="checkbox" value="가구/인테리어">
                                    <label for="category01">가구/인테리어</label>
                                </li>
                                <li>
                                    <input id="category02" name="category" type="checkbox" value="도서">
                                    <label for="category02">도서</label>
                                </li>
                                <li>
                                    <input id="category03" name="category" type="checkbox" value="디지털/가전">
                                    <label for="category03">디지털/가전</label>
                                </li>
                                <li>
                                    <input id="category04" name="category" type="checkbox" value="생활/건강">
                                    <label for="category04">생활/건강</label>
                                </li>
                                <li>
                                    <input id="category05" name="category" type="checkbox" value="스포츠/레저">
                                    <label for="category05">스포츠/레저</label>
                                </li>
                                <li>
                                    <input id="category06" name="category" type="checkbox" value="식품">
                                    <label for="category06">식품</label>
                                </li>
                                <li>
                                    <input id="category07" name="category" type="checkbox" value="여가/생활편의">
                                    <label for="category07">여가/생활편의</label>
                                </li>
                                <li>
                                    <input id="category08" name="category" type="checkbox" value="출산/육아">
                                    <label for="category08">출산/육아</label>
                                </li>
                                <li>
                                    <input id="category09" name="category" type="checkbox" value="패션의류">
                                    <label for="category09">패션의류</label>
                                </li>
                                <li>
                                    <input id="category10" name="category" type="checkbox" value="패션잡화">
                                    <label for="category10">패션잡화</label>
                                </li>
                                <li>
                                    <input id="category11" name="category" type="checkbox" value="화장품/미용">
                                    <label for="category11">화장품/미용</label>
                                </li>
                            </ul>
                        </td>
                    </tr>-->
                    <tr>
                        <th><p class="tit">상품명<span class="star">*</span></p></th>
                        <td>
                            <div class="txtBox">
                                <input type="text" th:field="*{productName}">
                                <p th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="error"></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><p class="tit">상품코드<span class="star">*</span></p></th>
                        <td>
                            <div class="codeBox">
                                <div class="inputBox">
                                    <input type="text" th:field="*{productCode}" th:style="${isModify} ? 'display:block' : 'display:none'" class="active" readonly>
                                    <input type="text" name="inputCode" th:style="${!isModify} ? 'display:block' : 'display:none'" class="active">
                                    <a class="codeBtn" href="javascript:void(0)" th:if="${!isModify}">자동생성</a>
                                    <a class="codeChk" href="javascript:void(0)" th:if="${!isModify}">중복확인</a>
                                </div>
                                <p th:if="${#fields.hasErrors('productCode')}" th:errors="*{productCode}" class="error"></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><p class="tit">상품 요약 설명</p></th>
                        <td>
                            <div class="txtBox">
                                <input type="text" th:field="*{productSummary}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><p class="tit">상품 상세 설명</p></th>
                        <td>
                            <div class="txtBox">
                                <textarea id="editorTxt" th:field="*{productContents}"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr class="imgBox">
                        <th><p class="tit">상품 이미지 <span class="star">*</span></p></th>
                        <td>
                            <ul class="txtBox">
                                <li th:each="i : ${#numbers.sequence(0, 4)}">
                                    <div th:if="${isModify and productDto.productImages != null and productDto.productImages.size() > i}"
                                         class="current-image">
                                        <img th:src="${productDto.productImages[i].imageUrl}" style="max-width: 100px;">
                                        <p th:text="${productDto.productImages[i].imageName}"></p>
                                    </div>
                                    <input type="file" name="productImgFile" accept="image/*">
                                </li>
                                <span class="info">권장 사이즈 640px * 640px </span>
                                <span class="error" th:if="${#fields.hasErrors('productImages')}" th:errors="*{productImages}"></span>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th><p class="tit">소비자가</p></th>
                        <td>
                            <div class="price">
                                <input type="number" th:field="*{productOriPrice}"><span>원</span>
                                <p th:if="${#fields.hasErrors('productOriPrice')}" th:errors="*{productOriPrice}" class="error"></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><p class="tit">판매가 <span class="star">*</span></p></th>
                        <td>
                            <div class="price">
                                <input type="number" th:field="*{productSalePrice}"><span>원</span>
                                <p th:if="${#fields.hasErrors('productSalePrice')}" th:errors="*{productSalePrice}" class="error"></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><p class="tit">배송비 <span class="star">*</span></p></th>
                        <td>
                            <div class="price">
                                <input type="number" th:field="*{productFee}"><span>원</span>
                                <p th:if="${#fields.hasErrors('productFee')}" th:errors="*{productFee}" class="error"></p>
                            </div>
                        </td>
                    </tr>
                    <!--배송비 설정 추후 추가 예정-->
                    <!--
                    <tr>
                        <th><p class="tit">배송비 설정<span class="star">*</span></p></th>
                        <td>
                            <div class="feeWrap">

                                <ul class="feePrice radioBox">
                                    <li>
                                        <input id="feeON" name="fee" type="radio"><label for="feeON">설정</label>

                                        <div class="price feeOnBox">
                                            <input type="number" value="0" disabled><span>원 이상 구매 시 무료배송</span>
                                        </div>

                                    </li>
                                    <li><input id="feeOff" name="fee" type="radio" checked><label for="feeOff">설정안함</label></li>
                                </ul>


                            </div>
                        </td>
                    </tr>
                    -->
                    <tr>
                        <th><p class="tit">재고 <span class="star">*</span></p></th>
                        <td>
                            <div class="price">
                                <input type="number" th:field="*{productStock}"><span>개</span>
                                <p th:if="${#fields.hasErrors('productStock')}" th:errors="*{productStock}" class="error"></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><p class="tit">옵션</p></th>
                        <td>
                            <ul class="option radioBox">
                                <li>
                                    <input th:field="*{productOptionStatus}" type="radio" value="OPTION_ON" id="optON">
                                    <label for="optON">사용</label>
                                </li>
                                <li>
                                    <input th:field="*{productOptionStatus}" type="radio" value="OPTION_OFF" id="optOff" checked>
                                    <label for="optOff">사용안함</label>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    <tr class="setOpt">
                        <th><p class="tit">옵션 설정</p></th>
                        <td>
                            <div class="txtBox">
                                <ul class="optionList">
                                    <li class="title">
                                        <p>옵션명</p>
                                        <p>옵션값</p>
                                    </li>
                                    <li class="text" th:if="${productDto.productOptions == null or productDto.productOptions.isEmpty()}">
                                        <div class="optTit">
                                            <input type="text" name="productOptions[0].optionName" placeholder="예시) 사이즈">
                                            <a href="javascript:void(0)" class="plusBtn optBtn">추가</a>
                                            <a href="javascript:void(0)" class="minusBtn optBtn">제거</a>
                                        </div>
                                        <div class="optTxt">
                                            <textarea name="productOptions[0].optionValues" placeholder="옵션값을 입력해주세요."></textarea>
                                        </div>
                                    </li>
                                    <li class="text" th:each="option, status : ${productDto.productOptions}">
                                        <div class="optTit">
                                            <input type="text" th:field="*{productOptions[__${status.index}__].optionName}" placeholder="예시) 사이즈">
                                            <a href="javascript:void(0)" class="plusBtn optBtn">추가</a>
                                            <a href="javascript:void(0)" class="minusBtn optBtn">제거</a>
                                        </div>
                                        <div class="optTxt">
                                            <textarea th:field="*{productOptions[__${status.index}__].optionValues}" placeholder="옵션값을 입력해주세요."></textarea>
                                        </div>
                                    </li>
                                </ul>
                                <span class="info">세미콜론(;)을 통해 옵션값을 연속으로 입력해주세요. </span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th><p class="tit">인플루언서 선택</p></th>
                        <td>
                            <div class="sellerSelect">
                                <select id="sellerSelect">
                                    <option value="">선택안함</option>
                                    <option th:each="seller : ${sellers}"
                                            th:value="${seller.id}"
                                            th:text="${seller.sellerNickName}">셀러명</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><p class="tit">인플루언서 설정</p></th>
                        <td>
                            <ul class="sellerSet" id="sellerList">
                                <li th:each="seller, status : ${productDto.productSellers}" th:id="'seller_' + ${seller.manageId}">
                                    <input type="hidden" th:field="*{productSellers[__${status.index}__].manageId}">
                                    <div class="nameBox">
                                        <input type="text" th:field="*{productSellers[__${status.index}__].sellerNickName}" readonly>
                                        <a href="javascript:void(0)" class="infoSeller btn" th:data-seller-id="*{productSellers[__${status.index}__].manageId}">인플루언서정보</a>
                                        <a href="javascript:void(0)" class="deleteBtn btn">삭제</a>
                                    </div>
                                    <div class="priceBox textBox">
                                        <p class="title">판매가</p>
                                        <p class="text">
                                            <input type="number" th:field="*{productSellers[__${status.index}__].salePrice}">
                                            <span>원</span>
                                        </p>
                                        <p class="title">수량</p>
                                        <p class="text">
                                            <input type="number" th:field="*{productSellers[__${status.index}__].saleQuantity}">
                                            <span>개</span>
                                        </p>
                                    </div>
                                    <div class="dateBox textBox textBox02">
                                        <p class="title">판매기간</p>
                                        <p class="text date">
                                            <input type="date" th:field="*{productSellers[__${status.index}__].saleStartDate}" required pattern="\d{4}-\d{2}-\d{2}">
                                            <span>~</span>
                                            <input type="date" th:field="*{productSellers[__${status.index}__].saleEndDate}" required pattern="\d{4}-\d{2}-\d{2}">
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="btnWrap">
                <button type="submit" class="writeBtn" th:text="${isModify} ? '수정' : '등록'">등록</button>
            </div>
        </form>



    </div>
</div>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const isModify = /*[[${isModify}]]*/ false;
        console.log('Mode check:', isModify ? 'Modification' : 'Registration');

        const productCodeInput = document.querySelector('input[name="productCode"]');
        const inputCode = document.querySelector('input[name="inputCode"]');
        const codeBtn = document.querySelector('.codeBtn');
        const codeChk = document.querySelector('.codeChk');
        let isCodeChecked = false;

        // 수정 모드에서 상품 코드 읽기 전용 처리
        if (isModify) {
            console.log('Modification mode - Current product code:', productCodeInput.value);
            // 수정 모드에서는 이미 등록된 상품코드를 표시하고 관련 버튼 숨김
            productCodeInput.readOnly = true;
            if (codeBtn) codeBtn.style.display = 'none';
            if (codeChk) codeChk.style.display = 'none';
            if (inputCode) inputCode.style.display = 'none';
            isCodeChecked = true;
        } else {
            // 등록 모드에서는 직접 입력 모드로 시작
            console.log('Registration mode - Starting with manual input');
            if (codeBtn) codeBtn.textContent = '자동생성';
            productCodeInput.style.display = 'none';
            if (inputCode) {
                inputCode.style.display = 'block';
                inputCode.classList.add('active');
            }
            if (codeChk) codeChk.style.display = 'block';
        }

        // 상품 코드 자동 생성 함수
        function generateNewCode() {
            fetch('/admin/product/generateCode')
                .then(response => response.text())
                .then(code => {
                    console.log('Generated new product code:', code);
                    productCodeInput.value = code;
                    productCodeInput.classList.add('active');
                    productCodeInput.style.display = 'block';
                    productCodeInput.readOnly = true;
                    if (inputCode) {
                        inputCode.style.display = 'none';
                        inputCode.classList.remove('active');
                        inputCode.value = '';
                    }
                    if (codeBtn) {
                        codeBtn.textContent = '직접입력';
                    }
                    if (codeChk) {
                        codeChk.style.display = 'none';
                    }
                    isCodeChecked = true;
                })
                .catch(error => {
                    console.error('Error generating code:', error);
                    alert('상품코드 생성 중 오류가 발생했습니다.');
                });
        }

        // 직접 입력 버튼 이벤트 처리
        if (codeBtn && !isModify) {
            codeBtn.addEventListener('click', function() {
                if (this.textContent === '자동생성') {
                    generateNewCode();
                } else {
                    switchToManualInput();
                }
            });
        }

        // 중복 확인 버튼 이벤트 처리
        if (codeChk && !isModify) {
            codeChk.addEventListener('click', function() {
                const code = inputCode.value.trim();
                if (!code) {
                    alert('상품코드를 입력해주세요.');
                    return;
                }

                // CSRF 토큰 가져오기
                const token = document.querySelector("meta[name='_csrf']").getAttribute("content");
                const header = document.querySelector("meta[name='_csrf_header']").getAttribute("content");

                fetch('/admin/product/checkProductCode', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        [header]: token
                    },
                    body: JSON.stringify({ productCode: code })
                })
                    .then(response => response.json())
                    .then(isDuplicate => {
                        if (isDuplicate) {
                            alert('이미 사용중인 상품코드입니다.');
                            isCodeChecked = false;
                        } else {
                            alert('사용 가능한 상품코드입니다.');
                            productCodeInput.value = code;
                            isCodeChecked = true;
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('상품코드 중복 확인 중 오류가 발생했습니다.');
                    });
            });
        }

        // 직접 입력 모드로 전환
        function switchToManualInput() {
            productCodeInput.classList.remove('active');
            productCodeInput.style.display = 'none';
            productCodeInput.readOnly = false;
            if (inputCode) {
                inputCode.style.display = 'block';
                inputCode.classList.add('active');
            }
            if (codeBtn) codeBtn.textContent = '자동생성';
            if (codeChk) codeChk.style.display = 'block';
            isCodeChecked = false;
        }

        // 옵션 추가/제거 처리
        const optionList = document.querySelector('.optionList');
        if(optionList) {
            optionList.addEventListener('click', function(e) {
                if(e.target.classList.contains('plusBtn')) {
                    const li = e.target.closest('li');
                    const clone = li.cloneNode(true);
                    const inputs = clone.querySelectorAll('input, textarea');
                    inputs.forEach(input => input.value = '');
                    li.parentNode.insertBefore(clone, li.nextSibling);
                } else if(e.target.classList.contains('minusBtn')) {
                    const li = e.target.closest('li');
                    if(document.querySelectorAll('.optionList li.text').length > 1) {
                        li.remove();
                    }
                }
            });
        }

        // 인플루언서 선택 처리
        const sellerSelect = document.getElementById('sellerSelect');
        if(sellerSelect) {
            sellerSelect.addEventListener('change', function() {
                const sellerId = this.value;
                if(sellerId) {
                    fetch('/admin/manage/seller/' + sellerId)
                        .then(response => response.json())
                        .then(seller => {
                            addSellerToList(seller);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('인플루언서 정보를 가져오는 중 오류가 발생했습니다.');
                        });
                }
            });
        }

        // 날짜 입력 필드 포맷팅 함수
        function formatDateInput(input) {
            input.addEventListener('input', function(e) {
                let value = e.target.value;

                // 날짜 형식이 "yy. M. d." 형식인 경우 변환
                if (value.match(/^\d{2}\.\s*\d{1,2}\.\s*\d{1,2}\.$/)) {
                    let parts = value.split('.');
                    let year = '20' + parts[0].trim();
                    let month = parts[1].trim().padStart(2, '0');
                    let day = parts[2].trim().padStart(2, '0');

                    e.target.value = `${year}-${month}-${day}`;
                }
            });

            // 날짜 선택 시 자동 포맷팅
            input.addEventListener('change', function(e) {
                if (e.target.value) {
                    let date = new Date(e.target.value);
                    if (!isNaN(date.getTime())) {
                        let year = date.getFullYear();
                        let month = String(date.getMonth() + 1).padStart(2, '0');
                        let day = String(date.getDate()).padStart(2, '0');
                        e.target.value = `${year}-${month}-${day}`;
                    }
                }
            });
        }

        // 모든 날짜 입력 필드에 포맷팅 적용
        document.querySelectorAll('input[type="date"]').forEach(input => {
            formatDateInput(input);
        });

        // 새로운 셀러 추가 시 날짜 입력 필드 포맷팅 적용
        function addSellerToList(seller) {
            const sellerList = document.getElementById('sellerList');
            const sellerCount = sellerList.children.length;

            // 이미 추가된 인플루언서인지 확인
            if(document.getElementById('seller_' + seller.id)) {
                alert('이미 추가된 인플루언서입니다.');
                return;
            }

            const li = document.createElement('li');
            li.id = 'seller_' + seller.id;
            li.innerHTML = `
                <input type="hidden" name="productSellers[${sellerCount}].manageId" value="${seller.id}">
                <div class="nameBox">
                    <input type="text" name="productSellers[${sellerCount}].sellerNickName" value="${seller.sellerNickName}" readonly>
                    <a href="javascript:void(0)" class="infoSeller btn" th:data-seller-id="*{productSellers[__${status.index}__].manageId}">인플루언서정보</a>
                    <a href="javascript:void(0)" class="deleteBtn btn">삭제</a>
                </div>
                <div class="priceBox textBox">
                    <p class="title">판매가</p>
                    <p class="text">
                        <input type="number" name="productSellers[${sellerCount}].salePrice" value="0">
                        <span>원</span>
                    </p>
                    <p class="title">수량</p>
                    <p class="text">
                        <input type="number" name="productSellers[${sellerCount}].saleQuantity" value="0">
                        <span>개</span>
                    </p>
                </div>
                <div class="dateBox textBox textBox02">
                    <p class="title">판매기간</p>
                    <p class="text date">
                        <input type="date" name="productSellers[${sellerCount}].saleStartDate" required pattern="\\d{4}-\\d{2}-\\d{2}">
                        <span>~</span>
                        <input type="date" name="productSellers[${sellerCount}].saleEndDate" required pattern="\\d{4}-\\d{2}-\\d{2}">
                    </p>
                </div>
            `;
            sellerList.appendChild(li);

            // 새로 추가된 날짜 입력 필드에 포맷팅 적용
            const newDateInputs = li.querySelectorAll('input[type="date"]');
            newDateInputs.forEach(input => formatDateInput(input));
        }

        // 폼 유효성 검사 함수
        function validateForm() {
            let isValid = true;

            // 상품코드 검사
            const codeBtn = document.querySelector('.codeBtn');
            const inputCode = document.querySelector('input[name="inputCode"]');
            const productCodeInput = document.querySelector('input[name="productCode"]');

            if (!isModify) { // 등록 모드일 때만 검사
                if (codeBtn.textContent === '자동생성') {
                    // 직접 입력 모드
                    if(!inputCode.value.trim()) {
                        alert('상품코드를 입력해주세요.');
                        inputCode.focus();
                        return false;
                    }
                    if(!isCodeChecked) {
                        alert('상품코드 중복확인을 해주세요.');
                        return false;
                    }
                } else {
                    // 자동생성 모드
                    if(!productCodeInput.value.trim()) {
                        alert('상품코드가 생성되지 않았습니다.');
                        return false;
                    }
                }
            }

            // 이미지 유효성 검사
            const firstImageInput = document.querySelector('input[name="productImgFile"]');
            if (!firstImageInput.files || firstImageInput.files.length === 0) {
                alert('대표 이미지는 필수입니다.');
                isValid = false;
                return false;
            }

            // 옵션 유효성 검사
            const optionStatus = document.querySelector('input[name="productOptionStatus"]:checked').value;
            if (optionStatus === 'OPTION_ON') {
                const optionNames = document.querySelectorAll('input[name^="productOptions"][name$="optionName"]');
                const optionValues = document.querySelectorAll('textarea[name^="productOptions"][name$="optionValues"]');

                if (optionNames.length === 0) {
                    alert('옵션을 1개 이상 입력해주세요.');
                    isValid = false;
                    return false;
                }

                for (let i = 0; i < optionNames.length; i++) {
                    if (!optionNames[i].value.trim()) {
                        alert('옵션명은 필수 입력 값입니다.');
                        optionNames[i].focus();
                        isValid = false;
                        return false;
                    }
                    if (!optionValues[i].value.trim()) {
                        alert('옵션값은 필수 입력 값입니다.');
                        optionValues[i].focus();
                        isValid = false;
                        return false;
                    }
                }
            }

            // 인플루언서 유효성 검사
            const sellerList = document.getElementById('sellerList');
            const sellers = sellerList.querySelectorAll('li');

            if (sellers.length > 0) {
                for (let seller of sellers) {
                    const salePrice = seller.querySelector('input[name$="salePrice"]');
                    const saleQuantity = seller.querySelector('input[name$="saleQuantity"]');
                    const startDate = seller.querySelector('input[name$="saleStartDate"]');
                    const endDate = seller.querySelector('input[name$="saleEndDate"]');

                    if (!salePrice || !salePrice.value || parseInt(salePrice.value) < 0) {
                        alert('판매가는 0원 이상이어야 합니다.');
                        if (salePrice) salePrice.focus();
                        isValid = false;
                        return false;
                    }

                    if (!saleQuantity || !saleQuantity.value || parseInt(saleQuantity.value) < 0) {
                        alert('판매 수량은 0개 이상이어야 합니다.');
                        if (saleQuantity) saleQuantity.focus();
                        isValid = false;
                        return false;
                    }

                    if (!startDate || !startDate.value) {
                        alert('판매 시작일은 필수 입력 값입니다.');
                        if (startDate) startDate.focus();
                        isValid = false;
                        return false;
                    }

                    if (!endDate || !endDate.value) {
                        alert('판매 종료일은 필수 입력 값입니다.');
                        if (endDate) endDate.focus();
                        isValid = false;
                        return false;
                    }

                    // 날짜 형식 검사
                    if (!startDate.value.match(/^\d{4}-\d{2}-\d{2}$/) || !endDate.value.match(/^\d{4}-\d{2}-\d{2}$/)) {
                        alert('날짜 형식이 올바르지 않습니다. (YYYY-MM-DD)');
                        isValid = false;
                        return false;
                    }

                    // 시작일이 종료일보다 늦은 경우
                    if (new Date(startDate.value) > new Date(endDate.value)) {
                        alert('판매 시작일은 종료일보다 늦을 수 없습니다.');
                        startDate.focus();
                        isValid = false;
                        return false;
                    }
                }
            }

            return isValid;
        }
    });
</script>
</body>
</html>