<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userLoginLayout}">
<head>
    <title>로그인</title>
</head>
<body class="loginBody">
    <div layout:fragment="content">
        <div class="loginWrap">
            <div class="loginInner">
                <p class="title">로그인</p>

                <ul class="tabWrap">
                    <li><a href="#tab01">기업 회원</a></li>
                    <li><a href="#tab02">셀러 회원</a></li>
                    <li><a href="#tab03" class="active">개인 회원</a></li>
                </ul>

                <!--기업회원-->
                <div id="tab01" class="tabCont">
                    <form action="/admin/order" class="loginBox">
                        <ul>
                            <li>
                                <input type="text" placeholder="아이디를 입력해주세요.">
                            </li>
                            <li>
                                <input type="password" placeholder="비밀번호를 입력해주세요.">
                            </li>
                        </ul>
                        <ul class="findWrap">
                            <li><a href="#">아이디 · 비밀번호 찾기</a></li>
                            <li><a href="#">회원가입</a></li>
                        </ul>
                        <div class="btnWrap">
                            <button type="submit">로그인</button>
                        </div>
                    </form>
                </div>
                <!--셀러회원-->
                <div id="tab02" class="tabCont">
                    <form action="/admin/order" class="loginBox">
                        <ul>
                            <li>
                                <input type="text" placeholder="아이디를 입력해주세요.">
                            </li>
                            <li>
                                <input type="password" placeholder="비밀번호를 입력해주세요.">
                            </li>
                        </ul>
                        <ul class="findWrap">
                            <li><a href="#">아이디 · 비밀번호 찾기</a></li>
                            <li><a href="#">회원가입</a></li>
                        </ul>
                        <div class="btnWrap">
                            <button type="submit">로그인</button>
                        </div>
                    </form>
                </div>
                <!--개인회원-->
                <div id="tab03" class="userLogin tabCont active">
                    <form action="/list" class="loginBox">
                        <ul>
                            <li>
                                <input type="text" placeholder="아이디를 입력해주세요.">
                            </li>
                            <li>
                                <input type="password" placeholder="비밀번호를 입력해주세요.">
                            </li>
                        </ul>
                        <ul class="findWrap">
                            <li><a href="#">아이디 · 비밀번호 찾기</a></li>
                            <li><a href="#">회원가입</a></li>
                        </ul>
                        <div class="btnWrap">
                            <button type="submit">로그인</button>
                        </div>
                    </form>

                    <ul class="btnWrap snsLoginWrap">
                        <li><a href="#">구글 로그인</a></li>
                        <li><a href="#">카카오톡 로그인</a></li>
                        <li><a href="#">네이버 로그인</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</body>
</html>