<!DOCTYPE html>
<html
    layout:decorate="~{layouts/userLoginLayout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>회원가입</title>
</head>
<body class="memberBody joinBody">
<div layout:fragment="content">
  <div class="memberWrap joinWrap joinWrap01">
    <div class="memberInner">
      <p class="title">회원가입</p>

      <form th:action="@{/seller/join}" method="post" th:object="${sellerDto}">
        <!--중복 체크 성공 시 hidden 필드에 true 값 저장-->
        <input type="hidden" th:field="*{idChecked}" />
        <ul class="joinForm">
          <li class="list list01">
            <div class="titleBox">
              <p class="tit">아이디</p>
              <span class="star">*</span>
              <span class="error" th:if="${#fields.hasErrors('sellerId')}" th:errors="*{sellerId}">사용할 수 없는 아이디입니다.</span>
            </div>
            <div class="txtBox">
              <input type="text" th:field="*{sellerId}" placeholder="아이디 입력(6~20자)">
              <a href="#" class="checkId btn">중복 확인</a>
            </div>
          </li>
          <li class="list">
            <div class="titleBox">
              <p class="tit">비밀번호</p>
              <span class="star">*</span>
              <span class="error" th:if="${#fields.hasErrors('sellerPW')}" th:errors="*{sellerPW}">8 ~ 16자의 비밀번호를 입력해주세요.</span>
            </div>
            <div class="txtBox">
              <input type="password" th:field="*{sellerPW}" placeholder="비밀번호 입력(8 ~ 16자)">
            </div>
          </li>
          <li class="list">
            <div class="titleBox">
              <p class="tit">비밀번호 확인</p>
              <span class="star">*</span>
              <span class="error" th:if="${#fields.hasErrors('sellerPWChk')}" th:errors="*{sellerPWChk}">비밀번호가 일치하지 않습니다.</span>
            </div>
            <div class="txtBox">
              <input type="password" th:field="*{sellerPWChk}" placeholder="비밀번호 확인">
            </div>
          </li>
          <li class="list">
            <div class="titleBox">
              <p class="tit">셀러명</p>
              <span class="star">*</span>
              <span class="error" th:if="${#fields.hasErrors('sellerNickName')}" th:errors="*{sellerNickName}">셀러명을 입력해주세요.</span>
            </div>
            <div class="txtBox">
              <input type="text" th:field="*{sellerNickName}" placeholder="셀러명을 입력해주세요.">
            </div>
          </li>

          <li class="list categoryList">
            <div class="titleBox">
              <p class="tit">카테고리 정보
                <a href="javascript:void(0)" class="infoBtn">도움말
                  <span class="infoBox">
                      취급 상품과 관련된 카테고리를 선택해야 하며, 판매하고자 하는 상품군의 카테고리를 선택해 주시면 됩니다.<br>
                    카테고리는 쇼핑몰과 매칭 서비스에 이용됩니다.
                  </span>
                </a>

              </p>
              <span class="star">*</span>
              <span class="error" th:if="${#fields.hasErrors('productCategories')}" th:errors="*{productCategories}">카테고리를 선택해주세요.</span>
            </div>
            <ul class="txtBox">
              <li th:each="category : ${T(com.cobuy.constant.ProductCategory).values()}">
                <input type="checkbox" 
                       th:id="${'category' + categoryStat.count}"
                       th:field="*{productCategories}"
                       th:value="${category.name()}">
                <label th:for="${'category' + categoryStat.count}" 
                       th:text="${category.displayName}">카테고리명</label>
              </li>
            </ul>
          </li>
          <li class="list">
            <div class="titleBox">
              <p class="tit">이름</p>
              <span class="star">*</span>
              <span class="error" th:if="${#fields.hasErrors('sellerName')}" th:errors="*{sellerName}">이름을 입력해주세요.</span>
            </div>
            <div class="txtBox">
              <input type="text" th:field="*{sellerName}" placeholder="이름을 입력해주세요.">
            </div>
          </li>

          <li class="list list02">
            <div class="titleBox">
              <p class="tit">휴대폰 번호</p>
              <span class="star">*</span>
              <span class="error" th:if="${#fields.hasErrors('sellerPhone')}" th:errors="*{sellerPhone}">이미 가입된 번호입니다.</span>
            </div>
            <div class="txtBox">
              <select th:field="*{sellerPhone01}">
                <option value="010">010</option>
                <option value="011">011</option>
                <option value="016">016</option>
                <option value="017">017</option>
                <option value="018">018</option>
                <option value="019">019</option>
              </select>
              <span class="hyphen">-</span>
              <input type="text" th:field="*{sellerPhone2}" maxlength="4">
              <span class="hyphen">-</span>
              <input type="text" th:field="*{sellerPhone3}" maxlength="4">
            </div>
          </li>

          <li class="list">
            <div class="titleBox">
              <p class="tit">이메일</p>
              <span class="star">*</span>
              <span class="error" th:if="${#fields.hasErrors('sellerEmail')}" th:errors="*{sellerEmail}">이미 가입된 이메일입니다.</span>
            </div>
            <div class="txtBox">
              <input type="text" th:field="*{sellerEmail}" placeholder="이메일을 입력해주세요.">
            </div>
          </li>

          <li class="list list04">
            <div class="titleBox">
              <p class="tit">주소</p>
              <span class="star">*</span>
              <span class="error" th:if="${#fields.hasErrors('sellerAddress')}" th:errors="*{sellerAddress}">주소를 입력해주세요.</span>
            </div>
            <div class="txtBox">
              <div class="txt01 txt">
                <input type="text" id="sample6_postcode" th:field="*{postcode}" readonly placeholder="우편번호">
                <a href="javascript:void(0)" onclick="sample6_execDaumPostcode()" class="btn">우편번호 검색</a>
              </div>
              <input type="text" id="sample6_address" th:field="*{baseAddress}" readonly placeholder="주소">
              <div class="txt02 txt">
                <input type="text" id="sample6_detailAddress" th:field="*{detailAddress}" placeholder="상세주소 입력">
                <input type="text" id="sample6_extraAddress" th:field="*{extraAddress}" readonly>
                <input type="hidden" id="adminAddress" th:field="*{sellerAddress}">
              </div>
            </div>
          </li>

          <li class="list">
            <div class="titleBox">
              <p class="tit">SNS 주소</p>
            </div>
            <div class="txtBox">
              <input type="text" th:field="*{sellerUrl}" placeholder="SNS 주소를 입력해주세요.">
            </div>
          </li>
          <li class="list">
            <div class="titleBox">
              <p class="tit">소개글</p>
            </div>
            <div class="txtBox">
              <textarea th:field="*{sellerContents}" placeholder="소개 문구를 입력해주세요."></textarea>
            </div>
          </li>

        </ul>
        <div class="btnWrap">
          <button type="submit">회원가입</button>
        </div>
      </form>
    </div>
  </div>
</div>
<th:block layout:fragment="script">
  <script th:src="@{/js/seller/join.js}"></script>
</th:block>
</body>
</html>