<!DOCTYPE html>
<html
    layout:decorate="~{layouts/adminLayout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>판매현황</title>
</head>
<body class="bodyCont">
<div layout:fragment="content">
    <div class="adminWrap orderWrap">
        <div class="titleWrap">
            <h3 class="title">판매 현황</h3>
        </div>

        <div class="orderAdmin">

            <div class="list orderStatusBox">
                <p class="title">실시간 주문현황 <span class="day">2025-02-22</span></p>
                <ul class="orderStatus">
                    <li>
                        <p class="tit">주문</p>
                        <p class="txt">20건</p>
                    </li>
                    <li>
                        <p class="tit">교환</p>
                        <p class="txt">5건</p>
                    </li>
                    <li class="red">
                        <p class="tit">취소/반품</p>
                        <p class="txt">1건</p>
                    </li>
                </ul>

                <p class="title">실시간 매출 현황</p>
                <ul class="orderStatus orderStatus2">
                    <li>
                        <p class="tit">일 매출</p>
                        <p class="txt">1,100,000원</p>
                    </li>
                    <li>
                        <p class="tit">월 매출</p>
                        <p class="txt">10,225,000원</p>
                    </li>
                </ul>
            </div>
            <div class="rankList list">
                <p class="title">인플루언서 판매순위</p>
                <ul class="rank">
                    <li>
                        <a class="infoSeller" href="javascript:void(0)">
                            <p class="num">1</p>
                            <p class="name">인플루언서1</p>
                        </a>
                    </li>
                    <li>
                        <a class="infoSeller" href="javascript:void(0)">
                            <p class="num">2</p>
                            <p class="name">인플루언서1인플루언서1인플루언서1인플루언서1인플루언서1인플루언서1인플루언서1인플루언서1인플루언서1</p>
                        </a>
                    </li>
                    <li>
                        <a class="infoSeller" href="javascript:void(0)">
                            <p class="num">3</p>
                            <p class="name">인플루언서1</p>
                        </a>
                    </li>
                    <li>
                        <a class="infoSeller" href="javascript:void(0)">
                            <p class="num">4</p>
                            <p class="name">인플루언서1</p>
                        </a>
                    </li>
                    <li>
                        <a class="infoSeller" href="javascript:void(0)">
                            <p class="num">5</p>
                            <p class="name">인플루언서1</p>
                        </a>
                    </li>
                    <li>
                        <a class="infoSeller" href="javascript:void(0)">
                            <p class="num">6</p>
                            <p class="name">인플루언서1</p>
                        </a>
                    </li>
                    <li>
                        <a class="infoSeller" href="javascript:void(0)">
                            <p class="num">7</p>
                            <p class="name">인플루언서1</p>
                        </a>
                    </li>
                    <li>
                        <a class="infoSeller" href="javascript:void(0)">
                            <p class="num">8</p>
                            <p class="name">인플루언서1</p>
                        </a>
                    </li>
                    <li>
                        <a class="infoSeller" href="javascript:void(0)">
                            <p class="num">9</p>
                            <p class="name">인플루언서1</p>
                        </a>
                    </li>
                    <li>
                        <a class="infoSeller" href="javascript:void(0)">
                            <p class="num">10</p>
                            <p class="name">인플루언서1</p>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="rankList categoryRank">
            <p class="title">카테고리별 전체 인플루언서 순위</p>

            <div class="categoryListBox">
                <div class="listBox">
                    <p class="title">전체</p>
                    <ul>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">1</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">2</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">3</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">4</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">5</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="listBox">
                    <p class="title">가구/인테리어</p>
                    <ul>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">1</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">2</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">3</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">4</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">5</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="listBox">
                    <p class="title">도서</p>
                    <ul>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">1</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">2</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">3</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">4</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">5</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="listBox">
                    <p class="title">디지털/가전</p>
                    <ul>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">1</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">2</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">3</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">4</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">5</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="listBox">
                    <p class="title">생활/건강</p>
                    <ul>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">1</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">2</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">3</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">4</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">5</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="listBox">
                    <p class="title">스포츠/레저</p>
                    <ul>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">1</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">2</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">3</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">4</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">5</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="listBox">
                    <p class="title">식품</p>
                    <ul>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">1</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">2</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">3</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">4</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">5</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="listBox">
                    <p class="title">여가/생활편의</p>
                    <ul>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">1</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">2</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">3</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">4</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">5</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="listBox">
                    <p class="title">출산/육아</p>
                    <ul>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">1</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">2</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">3</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">4</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">5</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="listBox">
                    <p class="title">패션의류</p>
                    <ul>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">1</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">2</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">3</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">4</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">5</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="listBox">
                    <p class="title">패션잡화</p>
                    <ul>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">1</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">2</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">3</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">4</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">5</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="listBox">
                    <p class="title">화장품/미용</p>
                    <ul>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">1</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">2</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">3</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">4</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                        <li>
                            <a class="infoSeller" href="javascript:void(0)">
                                <p class="num">5</p>
                                <p class="name">인플루언서1</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>