<!DOCTYPE html>
<html
    layout:decorate="~{layouts/adminLayout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>주문 내역 확인</title>
</head>
<body class="bodyCont">
<div layout:fragment="content">
    <div class="adminWrap orderListWrap">
        <div class="titleWrap">
            <h3 class="title">주문 내역 확인</h3>
        </div>
        <div class="searchWrap">
            <form>
                <select>
                    <option value="all">전체기간</option>
                    <option value="1d">1일</option>
                    <option value="1w">1주</option>
                    <option value="1m">1개월</option>
                    <option value="3m">3개월</option>
                </select>
                <select>
                    <option value="전체">전체</option>
                    <option value="상품명">상품명</option>
                    <option value="상품코드">상품코드</option>
                    <option value="주문자명">주문자명</option>
                    <option value="주문자 아이디">주문자 아이디</option>
                    <option value="인플루언서명">인플루언서명</option>
                </select>
                <div class="searchBox">
                    <input placeholder="검색어를 입력해주세요." type="text">
                    <button type="submit">검색</button>
                </div>
            </form>
        </div>
        <div class="tableWrap">
            <table>
                <colgroup>
                    <col style="width:80px;">
                    <col style="width:120px;">
                    <col style="width:100%; min-width:360px;">
                    <col style="width:120px;">
                    <col style="width:140px;">
                    <col style="width:140px;">
                    <col style="width:120px;">
                    <col style="width:160px;">
                    <col style="width:140px;">
                    <col style="width:140px;">
                </colgroup>
                <thead>
                <tr>
                    <th>No</th>
                    <th>상품코드</th>
                    <th>상품명</th>
                    <th>주문자명</th>
                    <th>연락처</th>
                    <th>결제금액</th>
                    <th>주문상태</th>
                    <th>결제일</th>
                    <th>판매자</th>
                    <th>전체주문내역</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>4</td>
                    <td>P0000001</td>
                    <td class="prodLink" onclick="window.open('/product/detail', '_blank')">
                        <div class="prodInfo">
                            <div class="imgBox">
                                <img src="https://picsum.photos/800/600">
                            </div>
                            <div class="info">
                                <p class="tit">상품명</p>
                                <ul class="option">
                                    <li>옵션선택내용</li>
                                    <li>옵션선택내용</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td>송유진</td>
                    <td>010-1234-1234</td>
                    <td><p class="oriPrice"><span>10,000</span>원</p></td>
                    <td><span class="status status02">반품</span></td>
                    <td>2025.02.23 14:55</td>
                    <td>인플루언서명</td>
                    <td>
                        <div class="btnBox">
                            <a class="orderDetailBtn" href="javascript:void(0)">주문내역확인</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>P0000001</td>
                    <td class="prodLink" onclick="window.open('/product/detail', '_blank')">
                        <div class="prodInfo">
                            <div class="imgBox">
                                <img src="https://picsum.photos/800/800">
                            </div>
                            <div class="info">
                                <p class="tit">상품명</p>
                                <ul class="option">
                                    <li>옵션선택내용</li>
                                    <li>옵션선택내용</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td>송유진</td>
                    <td>010-1234-1234</td>
                    <td><p class="oriPrice"><span>10,000</span>원</p></td>
                    <td><span class="status status01">결제완료</span></td>
                    <td>2025.02.23 14:55</td>
                    <td>인플루언서명</td>
                    <td>
                        <div class="btnBox">
                            <a class="orderDetailBtn" href="javascript:void(0)">주문내역확인</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>P0000002</td>
                    <td class="prodLink" onclick="window.open('/product/detail', '_blank')">
                        <div class="prodInfo">
                            <div class="imgBox">
                                <img src="https://picsum.photos/800/800">
                            </div>
                            <div class="info">
                                <p class="tit">상품명</p>
                                <ul class="option">
                                    <li>옵션선택내용</li>
                                    <li>옵션선택내용</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td>송유진</td>
                    <td>010-1234-1234</td>
                    <td><p class="oriPrice"><span>10,000</span>원</p></td>
                    <td><span class="status status02">취소</span></td>
                    <td>2025.02.23 14:55</td>
                    <td>인플루언서명</td>
                    <td>
                        <div class="btnBox">
                            <a class="orderDetailBtn" href="javascript:void(0)">주문내역확인</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>P0000001</td>
                    <td class="prodLink" onclick="window.open('/product/detail', '_blank')">
                        <div class="prodInfo">
                            <div class="imgBox">
                                <img src="https://picsum.photos/800/800">
                            </div>
                            <div class="info">
                                <p class="tit">상품명</p>
                                <ul class="option">
                                    <li>옵션선택내용</li>
                                    <li>옵션선택내용</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td>송유진</td>
                    <td>010-1234-1234</td>
                    <td><p class="oriPrice"><span>10,000</span>원</p></td>
                    <td><span class="status">교환</span></td>
                    <td>2025.02.23 14:55</td>
                    <td>인플루언서명</td>
                    <td>
                        <div class="btnBox">
                            <a class="orderDetailBtn" href="javascript:void(0)">주문내역확인</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <ul class="pagination">
            <li class="page-item page-arrow page-prev" >
                <a class="page-link" href="javascript:void(0)">이전 페이지</a>
            </li>
            <li class="page-item page-num" >
                <a class="page-link active" href="javascript:void(0)">1</a>
                <a class="page-link" href="javascript:void(0)">2</a>
                <a class="page-link" href="javascript:void(0)">3</a>
            </li>
            <li class="page-item page-arrow page-next" >
                <a class="page-link" href="javascript:void(0)">다음 페이지</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>