<!DOCTYPE html>
<html
    layout:decorate="~{layouts/adminLayout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>회원정보수정</title>
</head>
<body class="bodyCont">
<div layout:fragment="content">
    <div class="adminWrap adminProfileWrap">
        <div class="titleWrap">
            <h3 class="title">회원정보수정</h3>
        </div>
        <form action="admin/profile">
            <div class="tableWrap tableWrap02">
                <table>
                    <colgroup>
                        <col style="width:200px">
                        <col style="width:calc(100% - 200px)">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>아이디</th>
                        <td>
                            <div class="txtBox">
                                <input readonly type="text" value="seller01">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td>
                            <div class="txtBox">
                                <input placeholder="비밀번호 입력(8 ~ 16자)" type="password">
                                <span class="error">8 ~ 16자의 비밀번호를 입력해주세요. </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호 확인</th>
                        <td>
                            <div class="txtBox">
                                <input placeholder="비밀번호 확인" type="password">
                                <span class="error">비밀번호가 일치하지 않습니다.</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>셀러명</th>
                        <td>
                            <div class="txtBox">
                                <input placeholder="셀러명을 입력해주세요." type="text">
                                <span class="error">셀러명을 입력해주세요.</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="tit">카테고리 정보
                                <a href="javascript:void(0)" class="infoBtn">도움말
                                    <span class="infoBox">
                                    취급 상품과 관련된 카테고리를 선택해야 하며, 판매하고자 하는 상품군의 카테고리를 선택해 주시면 됩니다.<br>
                                        카테고리는 쇼핑몰과 매칭 서비스에 이용됩니다.
                                </span>
                                </a>
                            </p>
                        </th>
                        <td>
                            <ul class="category">
                                <li>
                                    <input type="checkbox" id="category01" name="category" value="가구/인테리어">
                                    <label for="category01">가구/인테리어</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="category02" name="category" value="도서">
                                    <label for="category02">도서</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="category03" name="category" value="디지털/가전">
                                    <label for="category03">디지털/가전</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="category04" name="category" value="생활/건강">
                                    <label for="category04">생활/건강</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="category05" name="category" value="스포츠/레저">
                                    <label for="category05">스포츠/레저</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="category06" name="category" value="식품">
                                    <label for="category06">식품</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="category07" name="category" value="여가/생활편의">
                                    <label for="category07">여가/생활편의</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="category08" name="category" value="출산/육아">
                                    <label for="category08">출산/육아</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="category09" name="category" value="패션의류">
                                    <label for="category09">패션의류</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="category10" name="category" value="패션잡화">
                                    <label for="category10">패션잡화</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="category11" name="category" value="화장품/미용">
                                    <label for="category11">화장품/미용</label>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td>
                            <div class="txtBox">
                                <input placeholder="이름을 입력해주세요." type="text">
                                <span class="error">이름을 입력해주세요.</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>휴대폰 번호</th>
                        <td>
                            <div class="txtBox">
                                <div class="phoneBox">
                                    <select id="phone01" name="phone01">
                                        <option value="010">010</option>
                                        <option value="011">011</option>
                                        <option value="016">016</option>
                                        <option value="017">017</option>
                                        <option value="018">018</option>
                                        <option value="019">019</option>
                                    </select>
                                    <span class="hyphen">-</span>
                                    <input type="text">
                                    <span class="hyphen">-</span>
                                    <input type="text">
                                </div>

                                <span class="error">이미 가입된 번호입니다.</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td>
                            <div class="txtBox">
                                <input placeholder="이메일을 입력해주세요." type="text">
                                <span class="error">이미 가입된 이메일입니다.</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>주소</th>
                        <td>
                            <div class="txtBox">
                                <div class="addressBox">
                                    <div class="txt">
                                        <input class="postcode" placeholder="우편번호" readonly type="text">
                                        <a class="btn" href="#">우편번호 검색</a>
                                    </div>
                                    <input placeholder="주소" readonly type="text">
                                    <div class="txt">
                                        <input placeholder="상세주소 입력" type="text">
                                        <input readonly type="text">
                                    </div>
                                </div>
                                <span class="error">주소를 입력해주세요.</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>SNS 주소</th>
                        <td>
                            <div class="txtBox">
                                <input placeholder="SNS 주소를 입력해주세요" type="text">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>소개글</th>
                        <td>
                            <div class="txtBox">
                                <textarea placeholder="소개 문구를 입력해주세요" ></textarea>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="btnWrap">
                <button type="submit">회원정보 수정</button>
            </div>
        </form>

    </div>
</div>
</body>
</html>